[2013-11-10 17:32] brucellino opened #3 "list of worker nodes for c4"
Please provide the list of worker nodes for the C4 production cluster.

[2014-03-03 12:54] brucellino opened #6 "iptables config in playbook problem"
when running the preflight-check playbook, we get the following error reported by the firewall config task :

`iptables: Applying firewall rules: iptables-restore: line 13 failed
                                                           [FAILED]
`

[2014-03-04 10:10] #6 closed, assigned to brucellino

[2014-03-04 10:16] brucellino opened #7 "python-keyczar not found in standard CentOS6 repos"
ansible accelerated needs python-keyczar in order to work. This is installed by the preflight-check playbook, but is not found in the standard CentOS repos.

Apparently, this is kept in the EPEL repo - http://pkgs.org/centos-6/epel-i386/python-keyczar-0.71c-1.el6.noarch.rpm.html

so we need to enable the repos during preflight

[2014-03-07 13:01] brucellino opened #9 "move iptables rules to a template"
Each service needs to have a different firewall configuration. This can be managed by a template for the iptables config file, similar to @arcimboldo  https://github.com/gc3-uzh-ch/ansible-playbooks/blob/04a7a811534a2cee64991cf0c612bcd5de43a537/roles/common/templates/etc/iptables.d/rules.v4.j2

We should specify these rules in each role.

[2014-03-07 13:02] #3 closed, assigned to brucellino

[2014-03-07 13:02] #7 closed, assigned to brucellino

[2014-03-24 16:23] brucellino opened #10 "move all passwords to a common variables file"
we don't want passwords in the open, move them to a variables file

[2014-03-24 17:30] brucellino opened #11 "mysql passwords reset"
need a way to reset the mysql passwords for the db's when we configure.

[2014-06-10 14:48] shaze opened #15 "Installing sagrid.ac.za: incorrect VOMS DN"
Any clues where to look?

 INFO: Executing function: config_glite_ui
   INFO: Executing function: config_vomses
   ERROR: VOMSES parameter for VO 'sagrid.ac.za' has incorrect DN or alias
   ERROR: Error during the execution of function: config_vomses
   ERROR: Error during the configuration.Exiting.                              [FAILED]
   ERROR: One of the functions returned with error without sp

[2014-08-12 16:44] #9 closed, assigned to brucellino

[2014-08-12 17:28] brucellino opened #17 "SAGRID_AC_ZA_GROUP_ENABLE is not set"
missing this in the VO specification

[2014-08-12 18:08] #17 closed, assigned to nobody

[2014-09-12 10:48] brucellino opened #18 "host-based authentication setup role fails (in roles/common)"
Seems like there is a problem parsing the variable `hosts` in the common playbook

[code]

[2014-09-12 11:14] #18 closed, assigned to brucellino

[2014-09-12 11:48] brucellino opened #19 "host keys for host-based authentication."
The common role has a task to enable ssh communication amongst all the nodes. Howevever, this presumes that the host keys are known.... the playbook is failing at the moment :

[code]

[2014-09-15 13:00] brucellino opened #22 "IPtables handler notified, but skipped"
The Top-BDII role (at least) uses a template to configure the firewall. This task notifies the iptables restarter handler, but it is skipped.

[2014-09-15 14:14] #22 closed, assigned to brucellino

[2014-09-15 15:03] brucellino opened #23 "Sudoers file for nagios-dev corrupt"
the bootsrap play is failing on the nagios-dev machine and has borked sudo access to the ansible user.

[code]

can't access the OpenNebula web interface yet to reset since my cert has expired.

[2014-09-15 15:53] brucellino opened #24 "WMS configuration failed (Mysql passwords)"
on WMS dev play :

[code]

mysql password looks incorrect.

[2014-09-16 15:35] brucellino opened #27 "Add a test to see whether superuser is already in the LDAP directory"
The LDAP directory has a superuser, which is added and configured by the ldap role.

We need to add a conditional to only perform this when the user is not already present.

[code]

[2014-09-16 16:14] brucellino opened #28 "which ldap command does the serivces configuraiton trigger?"
[code]

ldapadd or ldapmodify ?

[2014-09-17 13:00] brucellino opened #29 "Travis Build 21 ldap vars"
following error :

[code]

See https://travis-ci.org/AAROC/DevOps/builds/35532386

[2014-09-17 13:05] #29 closed, assigned to brucellino

[2014-09-17 13:06] brucellino opened #30 "ldap task problem"
[code]

[2014-09-23 13:49] #28 closed, assigned to nobody

[2014-09-23 13:50] #27 closed, assigned to nobody

[2014-09-24 12:52] brucellino opened #38 "TERNET bootstrap"
If we had to run the bootstrap against the TERNET machines, the following changes would take place :

[code]

[2014-09-24 13:03] #38 closed, assigned to brucellino

[2014-09-29 15:12] brucellino opened #41 "build worker node list from group definition"

[2014-09-30 14:12] brucellino opened #44 "bootstrap playbook failing at ZAMREN"
boostrap play gives :

[code]

[2014-09-30 14:28] #44 closed, assigned to nobody

[2014-09-30 14:30] brucellino opened #45 "Task 'adding root node' fails at ZAMREN"
[code]

The password that it's using is specified in the group vars, but since it says `invalid syntax` I don't think this is a password problem.

[2014-09-30 15:29] #45 closed, assigned to fmarco76

[2014-09-30 16:14] #30 closed, assigned to brucellino

[2014-10-08 11:32] dmakweba opened #53 "Error on Registering to IdP"
Hi all,
Since my IdP got hacked and redeployed afresh by the same procedures at  https://wiki.shibboleth.net/confluence/display/SHIB2/IdPInstall I have the problem whereby can not be able to register.
I configured the mail connector as well but still getting the same error as follows;

description: The server encountered an internal error () that prevented it from fulfilling this request."
excepti

[2014-10-08 12:41] damas opened #54 "Liferay Deployment"
I am trying to install Liferay on tomcat. Tomcat is installed at /usr/share/tomcat then deployed the war and dependencies files of liferay. At the end i have the "Basic Configuration" page when pointing to http://sgw.ternet.or.tz:8080/ which I thought is Ok.

If I fill in the Portal name, Administrative first and last name as well and email address, clicked Finish configuration, it redirected me t

[2014-10-13 11:06] brucellino opened #56 "worker node bootstrapping"
This ticket will track issues related to bootstrapping worker nodes.

[2014-10-13 12:44] #56 closed, assigned to brucellino

[2014-10-13 13:09] brucellino opened #57 "Add passwordless root access to WN from head node."
the worker node role has to include the ssh key from the head node in the authorized_keys file

[2014-10-13 13:13] brucellino opened #58 "core services for Release-1.0.0 tested"
This ticket should be closed when all core services deployments have been tested.

[2014-10-13 13:14] brucellino opened #59 "site services tested"
This ticket should be closed when all site services configurations have been successfully tested.

[2014-10-13 13:17] brucellino opened #60 "WMS deployment tested"
Close when wms has been fully deployed

[2014-10-13 13:19] brucellino opened #61 "top-bdii deployment tested."

[2014-10-13 13:19] brucellino opened #62 "site-bdii deployment tested"

[2014-10-13 13:20] brucellino opened #63 "CREAM-CE deployment tested"

[2014-10-13 13:20] brucellino opened #64 "user interface deployment tested"

[2014-10-15 10:32] okoliec opened #66 "Error deploying ldap and IdP"
I was testing out an installation using ansible to deploy ldap and IdP on a new vm.
I specified the remote host to be installed in this file
root@ansible:/etc/ansible# less host_vars/
idp.eko-konnect.net.ng

Then executed the command below and got an error

root@ansible:/etc/ansible# ansible-playbook -i inventories/inventory.eko-konnect.net.ng idp-ldap.yml

PLAY [Configure the LDAP machine] ******

[2014-10-15 11:15] #66 closed, assigned to brucellino

[2014-10-15 11:21] okoliec opened #67 "Error deploying ldap and IdP"
Hello Bruce,
I am using the ansible scripts you created from this site to try to build mine. After installing libselinux1-dev. I continued with my installation and got this error.

TASK: [ldap | Add Organisations to the server] *******************************\*
skipping: [ldap.eko-konnect.net.ng]

TASK: [ldap | Retrieve ldap default policy] **********************************\*
ok: [ldap.eko-konnec

[2014-10-15 13:11] #53 closed, assigned to fmarco76

[2014-10-15 14:24] #57 closed, assigned to brucellino

[2014-10-15 15:20] brucellino opened #69 "WN play fails with gpg key warning on first run."
The following error is obtained when running the emi-worker-node role :

`Public key for CGSI-gSOAP-1.3.5-2.el6.i686.rpm is not installed`

[2014-10-15 16:12] brucellino opened #70 "wn not in wn-list"
[code]

[2014-10-16 05:00] brucellino opened #71 "wn deployment tested"
This will see the wn deployment working

[2014-10-16 05:01] brucellino opened #72 "no mpi flavours enabled"
Yaim is complaining that no mpi flavours are enabled, we need to add one or more to the variables file.

[2014-10-16 06:48] brucellino opened #73 "pbsserver set to localhost"
for some reason the pbs server was set to local host on wn config.

[2014-10-16 10:28] damas opened #74 "Liferay on Glassfish3 blank screen"
Hi Bruce,
Just reinstalled Liferay with Glassfish 3 as per document http://sourceforge.net/p/ctsciencegtwys/wiki/InstallLiferay611/ but I am getting a blank screen at http://sgw.ternet.or.tz:8080/
Can you please assist to fix with this problem?
Rgds,
Damas

[2014-10-17 13:39] #73 closed, assigned to brucellino

[2014-10-17 13:40] #72 closed, assigned to brucellino

[2014-10-17 13:40] #70 closed, assigned to brucellino

[2014-10-17 13:44] #19 closed, assigned to brucellino

[2014-10-17 13:45] brucellino opened #75 "head node role handler missing (restart iptables)"
Error:

[code]

[2014-10-17 14:36] brucellino opened #76 "error when evaluating conditional (YAIM)"
error:

[code]

[2014-10-17 14:49] brucellino opened #77 "pool acounts have wrong numbers"
the pool accounts have very high numbers (ops34000 for example) should be ops001

[2014-10-17 15:14] #76 closed, assigned to brucellino

[2014-10-17 15:14] #75 closed, assigned to brucellino

[2014-10-17 16:11] #69 closed, assigned to nobody

[2014-10-20 14:46] brucellino opened #79 "problem sending input sandbox to WN"

[2014-10-20 15:57] brucellino opened #80 "wrong permissions on /opt/shibboleth."
[code]

[2014-10-20 16:28] #80 closed, assigned to nobody

[2014-10-20 16:43] brucellino opened #81 "unable to fix ldap"
[code]

[2014-10-21 13:03] #81 closed, assigned to nobody

[2014-10-21 13:45] #67 closed, assigned to fmarco76

[2014-10-22 13:38] brucellino opened #85 "Attribute filter creation fails"
Pull request #84 was tested on the zamren site and failed at TASK: shibboleth-idp | Create Attribute Filters:

[code]

the code is

[code]

Looks we can't chown it because tomcat user should be "tomcat6"

[2014-10-22 13:55] #85 closed, assigned to brucellino

[2014-10-23 16:33] okoliec opened #88 "Error running bootstrap"
Dear All,
I ran into this error while trying out my ldap deployment. I have created the keys on both system and i can ssh without supplying password.

ansible@ansible:/etc/ansible$ ansible-playbook -i inventories/inventory.eko-konnect.net.ng bootstrap.yml

PLAY [Bootstrap the identity machines] ***************************************\*

GATHERING FACTS *********************************************

[2014-10-24 09:53] #88 closed, assigned to brucellino

[2014-10-24 10:40] okoliec opened #89 "No route to host"
It seems the firewall comes up on the remote host after the bootstrap playbook and there is no connection to the host from the controller.
Any clues

root@ansible:/etc/ansible# ansible-playbook -i inventories/inventory.eko-konnect.net.ng idp-ldap.yml -vvvv

PLAY [Configure the LDAP machine] ********************************************\*

GATHERING FACTS ********************************************

[2014-10-24 16:08] fmarco76 opened #91 "Iptables command with debian container in proxmox KVM fails"
It seems that the CHAIN INPUT or other options are not recognised during the bootstrap with the result of a blocked firewall. Option need investigation.

[2014-10-24 16:11] #89 closed, assigned to nobody

[2014-10-24 16:33] okoliec opened #92 "Missing openldap packages on debian"
@fmarco76

I continued with the testing on my laptop. It seems debian is not finding openldap packages for installation
nsrc@ubuntu:~/DevOps-master/Ansible$ ansible-playbook -i inventories/inventory.eko-konnect.net.ng idp-ldap.yml -v

PLAY [Configure the LDAP machine] ********************************************\*

GATHERING FACTS **************************************************************\*
ok

[2014-10-27 10:00] #92 closed, assigned to fmarco76

[2014-10-27 10:20] okoliec opened #93 "Error witn ldap_add"
fmarco76
Thanks Marco.
I continued the installation on my laptop now with Centos 6.5 VM. I just want to make it this work while i investigate the debian one.
Bootstrap was successful. I started running the idp-ldap playbook and encounted this error
 I want to install ldap first. See my idp-ldap.yml play book. Below it is the error i encountered
## nsrc@ubuntu:~/DevOps-master/Ansible$ less idp-ldap

[2014-10-27 17:36] okoliec opened #95 "Add the root node"
## I edited my ldap/roles/var/main.yml and added my rootpasswd part an changed other variables
# Generic
# domain: idp.sagrid.ac.za

admin: admin
Administrator: Administrator
idp_group: idp
# The first test user

user_cn: cletus
user_sn: okolie
user_given: Chukwuemeka
user_initials: CO
user_email: okoliec@unilag.edu.ng
# This _MUST_ be different to the primary email

user_secondary_email: okoliec@

[2014-10-28 10:19] #93 closed, assigned to fmarco76

[2014-10-28 16:38] #95 closed, assigned to nobody

[2014-10-29 20:58] okoliec opened #96 "ERROR: replace is not a legal parameter in an Ansible task or handler"
I am trying to execute the playbook for IdP. I am getting the error below. I have also pasted the content of my idp-ldap.yml

[code]

[2014-10-31 11:13] #96 closed, assigned to nobody

[2014-11-06 12:56] brucellino opened #97 "LDAP root node addition failing"
I'm checking the idp-ldap playbook. It seems that the root password for ldap.ternet.or.tz is incorrect in the group_vars:

[code]

Damas, can you let us know via some private channel what the password is currently. We can include it in an ansible-vault file.

[2014-11-07 11:50] brucellino opened #98 "Define manual functional tests for LDAP and Shibboleth playbook"
Once the `idp-ldap` playbook has been run, the admin should make some manual tests to see whether the system is properly configured.

This is a ticket to collect ideas on what those tests should be.

[2014-11-12 14:33] brucellino opened #99 "bootstrap"
Getting ready to deploy the MAREN site. This is the boostrap play issue... any issues arising during the play will be mentioned here.

[2014-11-12 14:52] #99 closed, assigned to nobody

[2014-11-12 15:29] brucellino opened #100 "MAREN: Adding root node in ldap failed"
[code]

Seems like a syntax error.

[2014-11-17 15:19] brucellino opened #101 "Install Glassfish task"
Close this issue when the glassfish application server can be installed on the science gateway

[2014-11-17 15:19] brucellino opened #102 "Install Glassfish task"
Close this issue when the glassfish application server can be installed on the science gateway

[2014-11-17 15:21] #102 closed, assigned to nobody

[2014-11-17 15:24] brucellino opened #103 "Add mysql role for sgw"
close this when the mysql role for the science gateway has been tested.

[2014-11-17 15:46] brucellino opened #104 "Create Glassfish Domain Task"
Add the task to the glassfish role that creates the default domain ?

[2014-11-17 16:51] brucellino opened #105 "config DB access to glassfish"
Configure the access to the database for glassfish

[2014-11-17 16:53] brucellino opened #106 "configure glassfish JVM parameters"
See http://sourceforge.net/p/ctsciencegtwys/wiki/InstallLiferay611/#glassfish-installation

[2014-11-17 17:04] brucellino opened #107 "Create proxy_ajp connection"
Glassfish needs a proxy_ajp connection.
See http://sourceforge.net/p/ctsciencegtwys/wiki/InstallLiferay611/#create-a-proxy-ajp-listener

[2014-11-17 17:12] brucellino opened #108 "start domain failing on dev site"
[code]

See roles/glassfish/tasks/glassfish.yml

[2014-11-17 20:17] dmakweba opened #109 "How do we deploy IDPPublic folder and its files"
Hi Marco,
I was working around the files at "/usr/share/tomcat6/webapps/IDPPublic" to figure out why the registration through https://idp.ternet.or.tz:8443/IDPPublic/register is NOT WORKING brings the error we saw at the office while to register through https://idp.ternet.or.tz:8443/register is WORKING then I think the files over IDPPublic path might have bugs and to debug them might consume a lot

[2014-11-18 10:44] #104 closed, assigned to brucellino

[2014-11-18 10:44] #101 closed, assigned to brucellino

[2014-11-18 10:44] #108 closed, assigned to brucellino

[2014-11-18 12:29] #106 closed, assigned to nobody

[2014-11-18 12:35] brucellino opened #110 "jvm template incorrect"
Getting the error

[code]

[2014-11-18 12:59] #110 closed, assigned to brucellino

[2014-11-18 14:01] #107 closed, assigned to brucellino

[2014-11-18 14:01] #105 closed, assigned to brucellino

[2014-11-18 14:08] #103 closed, assigned to brucellino

[2014-11-18 14:44] brucellino opened #111 "increas vm sizes for the dev machines"
We are deploying science gateways on vm01 and   vm04. However, they only have 1 GB of RAM.

Please increase to at least 4 GB.

[2014-11-18 14:46] brucellino opened #112 "error deploying liferay application"
Error is :

[code]

[2014-11-18 16:58] #97 closed, assigned to dmakweba

[2014-11-19 09:06] brucellino opened #113 "mysql config failing"
The play to set the mysql server configuration on the TERNET science gateway is  failing :

[code]

[2014-11-19 10:47] brucellino opened #114 "Debian prerequisites for science gateway"
The prerequistes for the science gateway are defined only for CentOS machines (see http://sourceforge.net/p/ctsciencegtwys/wiki/InstallLiferay611/#prerequisities)

This has to be updated for the debian instance.

[2014-11-19 19:09] #111 closed, assigned to fmarco76

[2014-11-19 19:13] brucellino opened #115 "enbale-secure-admin failing on liferay"
The secure access to the admin console of glassfish is not working. Probably due to the wrong order of asadmin commands

[code]

[2014-11-20 01:43] #112 closed, assigned to nobody

[2014-11-20 01:43] #115 closed, assigned to brucellino

[2014-11-22 10:45] brucellino opened #116 "Unable to copy repo files for glassfish"
[code]

[2014-11-22 11:29] #116 closed, assigned to nobody

[2014-11-22 11:41] brucellino opened #117 "Error in evaulating glassfish stat."
< TASK: glassfish | download glassfish >

---

[code]

fatal: [vm04.ct.infn.it] => error while evaluating conditional: glassfish_stat.stat.exists == false

FATAL: all hosts have already failed -- aborting

[2014-11-22 12:03] #117 closed, assigned to nobody

[2014-11-22 12:04] brucellino opened #118 "Liferay deploy fails when application is already registered"
In the liferay play (applying role `liferay-csgf`, the task `Deploy liferay application` is failing :

[code]

[2014-11-23 10:48] brucellino opened #119 "Can't connect to ldap securely"
looks like the secure connection has not been enabled, or the keys and certificates have not been generated properly for the ldap machine.

[code]

I tried to connect securely on the same host, but the cert used to connect had a pkcs error.

[2014-11-24 11:17] #100 closed, assigned to nobody

[2014-11-24 11:18] #109 closed, assigned to fmarco76

[2014-11-24 11:18] #113 closed, assigned to nobody

[2014-11-24 17:23] #118 closed, assigned to brucellino

[2014-12-03 12:46] damas opened #122 "No communication between IDP and LDAP"
Dear Marco,
We shifted our IDP and LDAP servers to be on the firewall and so they have internal private network with 192.168.148.34 (IDP) and 41.93.32.33 (LDAP) however they are both NATed to the public 41.93.32.34 (IDP) and 41.93.32.33 (LDAP).
I have the problem after connecting to the firewall but before everything was OK, it seems that the IDP and LDAP can't communicate as I cant login to the I

[2014-12-15 11:08] brucellino opened #123 "umd3 role not present in dev branch."

[2014-12-17 15:17] rahimbouchra opened #127 "SAM-NAGIOS Destination directory /etc/grid-security/certificates does not exist"
SAM-NAGIOS   Destination directory /etc/grid-security/certificates does not exist

[2014-12-17 16:44] #123 closed, assigned to brucellino

[2014-12-18 05:56] dmakweba opened #130 "IDP Registration Error"
Hi Team,
I am getting an error with my IDP when confirming the request from users who requested for registration. I am an IDP Admin and so when I login as admin to approve the request I am getting an error...
Error!
"Oh no! An error occur during registration....dont worry,its probable something minor. Please try again...
If the problem persists, send and email to IDP Admin"
Any clue please.
Rgds,

[2014-12-18 06:21] #130 closed, assigned to fmarco76

[2014-12-18 06:34] dmakweba opened #131 "IDP Admin Panel"
Hi team,
I think there are some items missing at the IDP Admin panel and I think is very important;
=> List of all registered users so that you may delete/suspend/edit in case user in no longer using the system or passed away (died).
For example, just to be sure that my IDP is well working, I registered a user and now I want to remove/delete such user, how can I delete such user? I had users from

[2014-12-19 04:44] #131 closed, assigned to fmarco76

[2014-12-19 12:18] brucellino opened #136 "MYSQL password not set (CREAM-CE)"
I've updated the cream-ce role. passwords should be separated into site variable files.

The cream-ce role is giving the error :

[code]

The mysql passwords were in `yaim/vars/passwords.yml` but this does not take account of the differing and private nature of the passwords across sites.

We should put passwords into `group_vars/<site-name>-passwords.yml` and then encrypt it with vault.

[2014-12-19 15:21] #136 closed, assigned to nobody

[2014-12-19 15:25] brucellino opened #140 "incorrect yaim variables for shared queue"
[code]

[2014-12-19 15:54] #140 closed, assigned to brucellino

[2014-12-19 15:58] brucellino opened #142 "munge key wrong permissions"
munge role sets incorrect permissions on the key:

[code]

[2014-12-19 16:05] brucellino opened #143 "No unix group for sagrid vo"
Problem when configuring the shared queue for the VO sagrid.ac.za.

[code]

[2014-12-19 16:11] brucellino opened #144 "wrong host name for WNs ij ZA-MERAKA-DEV"
lots of these messages in the torque logs :
[code]

[2014-12-22 11:32] brucellino opened #145 "issues creating SAGrid.ac.za VO users."
In config_users :

[code]

[2015-01-05 15:13] brucellino commented on #24
Seems i have forgotten the password for the existing mysql server.
I have trashed it and deleted all mysql info. Installing from scratch

[2015-01-05 15:22] brucellino commented on #24
Trashing the mysql server fixed the problem.

[2015-01-05 15:22] #24 closed

[2015-01-05 15:30] brucellino commented on #145
This was solved by removing the comments in the template. YAIM doens't like comments. Also, not cool, YAIM, not cool.

[2015-01-05 15:30] #145 closed

[2015-01-05 15:31] brucellino commented on #60
WMS play is working, except for the firewall.

[2015-01-05 15:32] brucellino commented on #77
Have fixed this in dev

[2015-01-05 15:32] #77 closed

[2015-01-05 16:15] brucellino commented on #10
This has been completed. passwords for ZA-MERAKA sites are in `group_vars`/password-{{ site-name }}.yml`

[2015-01-05 16:15] #10 closed

[2015-01-05 16:20] #62 closed

[2015-01-05 16:31] brucellino commented on #63
now getting this error in `site.yml` playbook:

[code]

The error was thrown in task : `TASK: head-node | build local network`

`ansible_default_ipv4` is defined as
[code]

while the template had :
[code]

... which should really though... ???

[2015-01-13 17:33] brucellino opened #151 "insufficient disk space on sgw.ternet.or.tz"
The science gateway play is failing at the play
 TASK: Ensure that system is up to date (EL)
Summary -
[code]
Please make sure there is sufficient disk space - maybe add another 10-50 GB to the virtual disk if posisble.

[2015-01-14 11:22] okoliec opened #152 "cannot change to directory '/root/{# ldap_config_path #}/certs':"
I am trying to do an installation but getting this error message below. Please any clues will be appreciated.

TASK: [ldap | Enable Secure Communications with the LDAP server (RedHat)] *****
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPI)
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPS)

TASK: [ldap | Enable protocols in sysconfig startup script (RedHat)] **********
skipping: [ldap.ugb.sn] => (item=SLA

[2015-01-14 11:24] brucellino commented on #152
Hi @okoliec - sorry for the issue, let's see if we can fix it. Can you confirm please which branch/release you're using ?

[2015-01-14 11:31] okoliec commented on #152
Hello @bruce -- I am using the release i downloaded in December not sure of the version.

[2015-01-14 11:32] brucellino commented on #152
ok - make sure to run with the latest version of the code:
go to where you've cloned the repo and do :
[code]
then run the playbook again to confirmt that you've got the same error.

[2015-01-14 13:23] brucellino opened #153 "Error adding root node to MAREN ldap"
ldap role failing at MAREN
[code]

[2015-01-14 13:50] brucellino commented on #153
looks like the password was not picked up
[code]

[2015-01-14 14:11] okoliec commented on #152
Hello @Bruce,
I noticed a difference in the files i have from the one on the site. The roles under the Ansible directory in the one i downloaded previously  has ldap and idp.
The one in the current site doesn't have  the idp-ldap playbooks.
It seems there is a change in the files and location.

root@ansible:~/ansible-for-grid/Ansible# ansible-playbook -i inventory.ugb.sn idp-ldap.yml
ERROR: found

[2015-01-14 14:17] brucellino commented on #152
ok , it seems like you're out of sych with the repo. The release that we last tagged which we tested for these roles was v0.0.3, otherwisethe master branch should work, but some functionality is missing. I suggest that you

  1. show us what branch you're on right now.
  1. If you're not on the origin/dev branch, check that out : `git fetch ; git checkout dev ; git pull`

and let us know.

[2015-01-14 14:37] okoliec commented on #152
This the one i downloaded that am using
https://github.com/SAGridOps/ansible-for-grid.git

[2015-01-14 14:39] brucellino commented on #152
Ah ok, you want https://github.com/AAROC/DevOps -
`git clone https://github.com/AAROC/DevOps`

[2015-01-14 15:14] okoliec commented on #152
Thanks Bruce i just downloaded

[2015-01-14 15:26] brucellino commented on #152
let us know how it goes and update the ticket :)

[2015-01-14 15:26] okoliec commented on #152
Hello @Bruce-- am getting the same error with the new one i just downloaded.

TASK: [ldap | Enable Secure Communications with the LDAP server (RedHat)] *****
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPI)
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPS)

TASK: [ldap | Enable protocols in sysconfig startup script (RedHat)] **********
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPI)
skipping: [ldap.ugb.sn]

[2015-01-14 15:40] brucellino commented on #152
Ok let's see. This task is :
[code]

The error you're getting seems to be pulling in `/root/{# ldap_config_path #}/certs'` instead of `/etc/ldap/certs/` for some reason.

Stupid question, but you didn't modify Ansible/roles/ldap/tasks/security.yml  by any chance ?

[2015-01-14 16:06] okoliec commented on #152
No i didnt modify anything at all. I just downloaded the new link you have and changed the inventory, group_vars and the ldap roles variable

[2015-01-14 16:12] brucellino commented on #152
ok - give us a git diff (if there are no sensitive information) please

[2015-01-14 16:18] okoliec commented on #152
root@ansible:~/DevOps/Ansible# git diff
diff --git a/Ansible/bootstrap.yml b/Ansible/bootstrap.yml
index e69de29..a788414 100644
--- a/Ansible/bootstrap.yml
+++ b/Ansible/bootstrap.yml
@@ -0,0 +1,6 @@
+---
+- name: Bootstrap the identity machines
+  hosts: all
+  remote_user: root
+  roles:
+  - bootstrap
diff --git a/Ansible/idp-ldap.yml b/Ansible/idp-ldap.yml
index b8bfc4d..c1d2476 100644
--- a/

[2015-01-14 16:33] brucellino commented on #152
I confess I can't diagnose why the directory `/root/{# ldap_config_path #}/certs` is being inserted, which means I need more info. Discussing this with @fmarco76, it seesm that the internal logic of the playbook may have missed some special case which your host falls into which we need to account for.

There are some tasks being skipped and I'd like to find out why; Can you attach the full output

[2015-01-14 16:37] okoliec commented on #152
I actually decided to remove everything from the remote machine and started again. Now this is the error am getting. I am not getting to the point where i got the error i posted before

root@ansible:~/DevOps/Ansible# ansible-playbook -i inventories/inventory.ugb.sn idp-ldap.yml

PLAY [Configure the LDAP machine] *********************************************

GATHERING FACTS ***********************

[2015-01-14 17:03] brucellino commented on #152
ok, this seems more likely. @fmarco76 can comment on the missing DN

[2015-01-15 13:28] okoliec commented on #152
Hello @fmarco76 --- please do you have any solution for me

[2015-01-15 16:57] fmarco76 commented on #152
Could you try to run the following command and past here the output?

# ldapsearch -Y EXTERNAL -H ldapi:/// -b cn=config
# ldapsearch -Y EXTERNAL -H ldapi:/// -b 'cn=module{0},cn=config'

Additionally, could you post the content of the file /tmp/moduleadd-Deb.ldif from your installation machien?

Cheers,
fmarco76

[2015-01-15 18:22] brucellino opened #156 "error customising DB in ldap role"
Getting the following error at SAGrid identity services:

looks like *ldap_modify: Invalid syntax (21)*

[code]

[2015-01-16 10:19] okoliec commented on #152
hello @fmarco76 ---Sorry i reinstalled the machine and started the installation again. I ma bac to my previous error that I was trying to resolve with @brucellino. See output of error

TASK: [ldap | Generate the private key for certificate request] ***************
changed: [ldap.ugb.sn]

TASK: [ldap | Strip the passphrase from the key] ******************************
changed: [ldap.ugb.sn]

TASK: [

[2015-01-16 10:26] brucellino commented on #152
Hi @okoliec - I should have asked this before - can you send is the output of
`ansible <ldap-servers> -m setup -i <inventory>`

We may have to take into account different OS versions.

[2015-01-16 10:38] okoliec commented on #152
I hope i understand the syntax.. This is what i have done from your mail.

root@ansible:~/DevOps/Ansible# ansible inventories/inventory.ugb.sn -m setup -i inventory
No hosts matched

[2015-01-16 10:40] brucellino commented on #152
you need to match the hosts to what is written in your inventory. See e.g. :
https://github.com/AAROC/DevOps/blob/master/Ansible/inventories/inventory.identity.dev

[2015-01-16 10:57] okoliec commented on #152
hello this what i have inside my inventory
# UGB Inventory
[ldap-servers]
ldap.ugb.sn

#[shibboleth-idps]
#idp.ugb.sn

[CentOS-servers:children]
ldap-servers
#shibboleth-idps

[Debian-servers:children]
#[identity-ugb-sn:children]
ldap-servers
#shibboleth-idps

I am still getting No hosts matched

Please sorry if am still not getting the syntax correctly.

[2015-01-16 11:16] okoliec commented on #152
ok thanks... see output

root@ansible:~/DevOps/Ansible/inventories# ansible ldap-servers -i inventory.ugb.sn -m setup
ldap.ugb.sn | success >> {
    "ansible_facts": {
        "ansible_all_ipv4_addresses": [
            "196.1.99.6"
        ],
        "ansible_all_ipv6_addresses": [
            "fe80::20c:29ff:feaf:fbd3"
        ],
        "ansible_architecture": "x86_64",
        "ansible_bios_da

[2015-01-16 11:50] brucellino commented on #152
Ah, ok. I think the problem is that you haven't defined an OS group to which the various hosts belong. Let me explain :

the OS-specific variables such as `ldap_config_path` are kept in `Ansible/group_vars/Debian-servers` and `Ansible/group_vars/CentOS-servers`. If you don't specify a group in your inventory with this name, those variables won't get picked up and your playbook will fail.

you shou

[2015-01-16 12:15] brucellino commented on #156
There was no root password specified. User error.

[2015-01-16 12:15] #156 closed

[2015-01-16 12:22] brucellino opened #157 "Error adding root node to SAGrid LDAP"
[code]

[2015-01-16 12:37] okoliec commented on #152
@brucellino -- thanks for the explanation but i think i already have that as displayed in the output below.

root@ansible:~/DevOps/Ansible/inventories# less inventory.ugb.sn
# UGB Inventory
[ldap-servers]
ldap.ugb.sn

#[shibboleth-idps]
#idp.ugb.sn

[CentOS-servers:children]
ldap-servers
#shibboleth-idps

[Debian-servers:children]
#[identity-ugb-sn:children]
ldap-servers
#shibboleth-idps

[2015-01-16 12:47] brucellino commented on #152
Hi - your machines can't be in both Debian and CentOS groups ;) they have to be in either one or the other (Debian, from the looks of your setup). I'm not sure that the playbook will set the variable correctly.

Can you make the change and try again ?

[2015-01-16 13:35] brucellino commented on #157
This was a relic from a previous install.

[2015-01-16 13:35] #157 closed

[2015-01-16 13:36] brucellino commented on #151
disk has been increased, play under way again.

[2015-01-16 14:05] brucellino commented on #151
Play has passsed the stage where the error occured, we can close this.

[2015-01-16 14:05] #151 closed

[2015-01-16 14:07] okoliec commented on #152
Hello @brucellino  am still getting the same error.

TASK: [ldap | Enable protocols in sysconfig startup script (RedHat)] **********
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPI)
skipping: [ldap.ugb.sn] => (item=SLAPD_LDAPS)

TASK: [ldap | Enable Secure Communications with the LDAP server] **************
ok: [ldap.ugb.sn] => (item=SLAPD_SERVICES)

TASK: [ldap | Create the directory for ldap certif

[2015-01-16 14:47] brucellino opened #158 "IDPPublic war fails to launch in idp plays (SAGrid)"
The error returned in the catalina log is :

[code]

symptoms :

  * tomcat is started, but http is not responding.

[2015-01-16 14:55] brucellino commented on #158
http://shibboleth.net/pipermail/users/2011-November/001801.html references the issue and suggests that the wrong xerces jar is being loaded. This might have to do with the the endorsed directories not being set properly.

[2015-01-16 15:00] brucellino commented on #158
Some more info :

[code]

[2015-01-16 16:33] brucellino commented on #74
Fixed in 8db2b0b

[2015-01-16 16:33] #74 closed

[2015-01-19 11:34] brucellino opened #159 "login portlet does not have form"
After a clean deploy on sgw.ternet.or.tz, the liferay login portlet does not provide the user / pass form for local login. See attached.

![screenshot from 2015-01-19 12 34 38](https://cloud.githubusercontent.com/assets/2115428/5799860/8ef75c24-9fd7-11e4-9cc8-5f2291db2bb8.png)

[2015-01-19 13:12] brucellino commented on #159
Removing and restarting liferay with the playbook seemed to fix the problem.

[2015-01-20 13:35] brucellino commented on #122
Update on this ticket ; at this site, all names are resolved to their external IPs. The communication between IDP and LDAP should be happening on the private network, however there is no communication between them.

The LDAP does not respond on ports 389 or 636 either on the public or private network (ldapsearches can't connect error -1)

On the LDAP server, however the server is listening:
[code]

[2015-01-20 13:37] brucellino commented on #122
By disabling the firewall, I checked that ldap connections worked. I've used the internal LDAP server address for the TERNET site, since there is this host name resolution problem. Added a line in sysconfig that allowed connections from the sgw to the ldap server :

[code]
Something similar should be done for the idp.

[2015-01-20 13:46] brucellino opened #160 "Request-URI Too Large error"
Some liferay URLs are very long and Apache is throwing :
[code]
According to https://confluence.atlassian.com/display/JIRAKB/Long+URLs+Are+Rejected+by+Apache+with+%27Request-URI+Too+Large%27+Error
This can be fixed with http://httpd.apache.org/docs/2.2/mod/core.html#limitrequestline and http://httpd.apache.org/docs/2.2/mod/core.html#limitrequestfieldsize

[2015-01-20 17:13] brucellino commented on #160
This fixes the problem.

[2015-01-20 17:13] #160 closed

[2015-01-20 17:14] brucellino opened #161 "Enable Shibboleth SP for Science gateway"
The shibboleth SP configuration has to be enabled in the Science Gateway role.

[2015-01-20 17:22] #159 closed

[2015-01-20 17:24] brucellino commented on #91
closed by @fmarco76

[2015-01-20 17:24] #91 closed

[2015-01-21 09:05] brucellino opened #162 "Attributes missing error when SAML login is attempted"
On the DIT Science Gateway, we are getting the http://sgw.ternet.or.tz/attributes_missed error. This is due to some missing Shibboleth configuration.

[2015-01-21 09:53] damas commented on #162
Hi team,
How to fix that, is there anything I can do over here?
Rgds,
Damas

[2015-01-21 09:56] brucellino commented on #162
Nope, there's not much you can do - on the next set of commits, you should be able to do a full deploy. We will also be able to finish the [wiki page](wiki/liferay-csgf-playbook)

[2015-01-21 10:09] brucellino opened #163 "Problem on liferay deploy - "Message: The string "--" is not permitted within comments.""
When deploying the gridengine the playbook is failing at :

[code]

Trying to figure out why - could be related to the insertion of comments from the gridengine sections.

[2015-01-21 10:14] brucellino commented on #163
ok, the original comments were made with spurious dashes, which were removed in the template, but the deployed file was not updated. Trying to find out why.

[2015-01-21 10:58] brucellino commented on #163
The domain.xml was not updated before the list-domains command was run, this caused the list-domains to fail again, without applying the correct template.

[2015-01-21 11:36] brucellino commented on #162
Error in the shibboleth logs shows that the federation metadata is missing :

[code]

This seems to be a problem with the downloading of the metadata.

[2015-01-21 14:19] brucellino commented on #152
Hi @okoliec ; I just ran into a similar problem to this - it was solved using the ansible variables in "{{ }}" (note- the "").

Can you change the {{ ldap_config_path }} --> "{{ ldap_config_path }} " and let me know if the issue is resolved ? Also, what version of Ansible do you have ?

[2015-01-21 14:39] okoliec commented on #152
Hello @brucellino --- I noticed there a several lines with {{ldap_confg_path}} should i add the quotes to all of them.
Below is the file am editing
root@ansible:~/DevOps/Ansible/roles/ldap/tasks# vi security.yml

This is the version of the ansible am using: Version: 1.7.1-precise-unstable-ppa

[2015-01-21 14:49] brucellino commented on #152
I have 1.8 - The ansible version is probably not the issue.
I'm going to make commit to the dev tree with some debugging statements  - when it comes through can you do a pull and re-run the playbook please.

[2015-01-21 14:56] okoliec commented on #152
@brucellino-- You didnt answer my question about adding the quotes before testing.

[2015-01-21 14:56] brucellino commented on #152
Leave that for now, it will conflict with the pull... standby.

[2015-01-21 14:57] brucellino commented on #162
Installing libcurl-openssl seems to fix this

[2015-01-21 15:01] brucellino commented on #152
ok, do the pull and run the playbook - show me the debugging statement at the start of the ldap play

[2015-01-21 15:01] #54 closed

[2015-01-21 15:02] #163 closed

[2015-01-21 15:12] okoliec commented on #152
This the what i get... Is there a way to to tell it to ignore without overwriting

root@ansible:~/DevOps/Ansible# git pull
Updating cd2347d..38071db
error: Your local changes to the following files would be overwritten by merge:
	Ansible/roles/ldap/vars/main.yml
Please, commit your changes or stash them before you can merge.
Aborting

[2015-01-21 15:23] okoliec commented on #152
Am fine with the file. I just moved it out and replaced it after the git pull was successful.

Let me attempt to execute the play book again.

[2015-01-21 16:42] brucellino opened #164 "Liferay : permission denied accessing the db from science gateway."
The dbserver variable is not being picked  up and included in the domain template.

[2015-01-21 16:45] okoliec commented on #152
Same error

TASK: [ldap | Create and sign the the new certificate] ************************
<ldap.ugb.sn> REMOTE_MODULE command openssl req -new -x509 -subj '/C={{ server_country }}/ST={{ server_state }}/L={{ server_location }}/O={{ server_organization }}/CN={{ ansible_hostname }}/' -days 3650 -key my.key -out cert.crt -extensions v3_ca chdir={{ ldap_config_path }}/certs/ creates={{ ldap_config_pa

[2015-01-21 16:46] brucellino commented on #152
I need the whole play please, with the debug statement above.

[2015-01-21 16:48] okoliec commented on #152
root@ansible:~/DevOps/Ansible# ansible-playbook -i inventories/inventory.ugb.sn idp-ldap.yml -vv

PLAY [Configure the LDAP machine] *********************************************

GATHERING FACTS ***************************************************************
<ldap.ugb.sn> REMOTE_MODULE setup
ok: [ldap.ugb.sn]

TASK: [fmarco76.firewall | Retrieve iptables rules] ***************************
<ldap.ug

[2015-01-21 16:59] brucellino commented on #152
Ok, so it's definitely in this Certificate task; the variable `openldap_config_path` is picked up fine in the other tasks and I can't reproduce the error on our local dev site here.

 The only thing I can think of right now is that the "chdir" argument is not being parsed properly.

Can you change the task quickly to :

[code]
and let me know the outcome ?

[2015-01-22 05:20] damas commented on #152
Hi @Bruce @Okolie,
Do you think the unusable version can also be a problem? which one is recommended? I am using ansible 1.9
Rgds,
Damas

[2015-01-22 10:11] okoliec commented on #152
Helllo @brucellino

I am still getting the same error after the making the changes you requested.

TASK: [ldap | Create and sign the the new certificate] ************************
failed: [ldap.ugb.sn] => {"failed": true, "rc": 258}
msg: cannot change to directory '/root/{# ldap_config_path #}/certs': path does not exist

FATAL: all hosts have already failed -- aborting

PLAY RECAP ****************

[2015-01-22 10:16] brucellino commented on #152
Hi @okoliec - let's see if it's the Ansible version... Can you do the following :

[code]

:pray:

[2015-01-22 12:12] okoliec commented on #152
Hello @brucellino ---I got the same error after following the steps above

root@ansible:~/DevOps/Ansible# ansible-playbook -i inventories/inventory.ugb.sn idp-ldap.yml -v

PLAY [Configure the LDAP machine] *********************************************

GATHERING FACTS ***************************************************************
ok: [ldap.ugb.sn]

TASK: [fmarco76.firewall | Retrieve iptables rul

[2015-01-22 14:05] okoliec commented on #152
Hello @brucellino --this is what this file looks like
root@ansible:~/DevOps/Ansible# less inventories/inventory.ugb.sn
# UGB Inventory
[ldap-servers]
ldap.ugb.sn

#[shibboleth-idps]
#idp.ugb.sn

#[CentOS-servers:children]
#ldap-servers
#shibboleth-idps

[Debian-servers:children]

[identity-ugb:children]
ldap-servers
#shibboleth-idps

root@ansible:~/DevOps/Ansible/group_vars# vi identity-ugb
I noti

[2015-01-22 14:24] brucellino commented on #152
Hi @okoliec - ah ok ! You need to have a group_vars for your site. The group is defined by [identity-ugb]. In there you need to have variables which are applicable to your site. See https://github.com/AAROC/DevOps/blob/dev/Ansible/group_vars/identity-all for example

[2015-01-22 14:32] okoliec commented on #152
Yes i have that.

This is the error i get when i execute the playbook with this line in the inventory.ugb--- [identity-ugb:children] enabled.

TASK: [ldap | what are we installing?] ****************************************
ok: [ldap.ugb.sn] => {
    "msg": "{{ldap_pkgs}} will be installed in {{ldap_config_path}}"
}

TASK: [ldap | Install the openldap and required Packages for RedHat] **********
sk

[2015-01-27 14:19] brucellino opened #165 "ARGUS services don't get started by YAIM"
the ARGUS playbook (`argus.yml`) completes when it applies the yaim role, but this doesn't seem to start the argus services:

  1. argus-pepd
  1. argus-pap
  1. argus-pdp

These should be checked by an Ansible post-task

[2015-01-27 21:48] brucellino opened #166 "Error configuring SAGRID_AC_ZA VO Group"
When yaiming the CE, we get :

[code]

[2015-01-27 22:20] brucellino opened #167 "group accounts for VO sagrid.ac.za"
[code]

[2015-01-27 22:47] brucellino opened #168 "error starting torque server with YAIM"
[code]

[2015-01-29 13:25] brucellino opened #169 "authorized_keys not being pushed for Perun access"
The task to push root ssh keys to user interface to enable perun access is not working... The task is :

[code]
while on the remote machine we only see :
[code]
seems the key is not found.

[2015-01-29 13:34] brucellino commented on #169
When specifying the full path, we get a different error:

`msg: invalid key specified: roles/perun-slave/files/perun_SAGrid.pub`

[2015-01-29 13:36] brucellino commented on #169
Using lookup seems to work, but with no options tried yet.

[2015-01-29 13:47] #169 closed

[2015-01-29 16:40] okoliec opened #170 "Failed to create temporary content"
Hello @brucellino --- I have been getting this error while trying to install idp. Any clues how i should resolve it.

root@ansible:~/DevOps/Ansible# ansible-playbook -i inventories/inventory.ugb idp-ldap.yml -v

PLAY [Prepare the identity machine common environment] ************************

GATHERING FACTS ***************************************************************
ok: [idp.ugb.sn]

TASK: [fm

[2015-01-29 16:44] brucellino commented on #170
Hi !
Are you able to resolve that url (http://shibboleth.net/downloads/identity-provider//2.4.1/shibboleth-identityprovider-2.4.1-bin.tar.gz ) and do a wget manually on the site ? It seems fine for me...

[2015-01-29 16:46] okoliec commented on #170
Yes i am able without issues. i attempted to use a wget directly on the remote machine and that worked fine

[2015-01-29 16:49] okoliec commented on #170
Will try to look at other options tomorrow. Am on transit now. Thanks for your time and quick responses.

[2015-01-29 16:49] brucellino commented on #170
Seems to be reported here : https://github.com/ansible/ansible/issues/7606

[2015-01-29 17:05] brucellino commented on #170
Can you try increase the timeout to something much larger than the default 10 ? `timeout: 1000` for example ?

[2015-01-30 10:36] okoliec commented on #170
@brucellino --- See below where i have added the  timeone and seeme to fail.
- name: Download the shibboleth package timeout 1000
  get_url: url={{ idp_url }}/{{ idp_version }}/{{ idp_package_name }}-{{ idp_version }}-bin.tar.gz dest=/tmp/{{ idp_package_name }}-{{ idp_version }}-bin.tar.gz

[2015-01-30 10:38] brucellino commented on #170
I think you've got the syntax wrong, it should be :
[code]

[2015-01-30 10:52] okoliec commented on #170
It seems the module is only supported in the higher version of Ansible

TASK: [fmarco76.firewall | Save iptable rules] ********************************
skipping: [idp.ugb.sn]

TASK: [shibboleth-idp | Download the shibboleth package] **********************
failed: [idp.ugb.sn] => {"failed": true}
msg: unsupported parameter for module: timeout

FATAL: all hosts have already failed -- aborting

PLAY

[2015-01-30 10:53] brucellino commented on #170
can you use a newer version ? We can't reproduce the error this side.

[2015-01-30 11:39] okoliec commented on #170
@brucellino --I have upgraded and getting another error now. Not sure why

TASK: [fmarco76.firewall | Count iptables rules] ******************************
ok: [idp.ugb.sn] => {"changed": false, "rc": 0, "stderr": "", "stdout": "5", "stdout_lines": ["5"]}

TASK: [fmarco76.firewall | Apply rules for the local network] *****************
skipping: [idp.ugb.sn] => (item=443)

TASK: [fmarco76.firewall |

[2015-01-30 17:08] brucellino commented on #170
Ok - I suspect that this may be due to the underlying python or ruby library that Ansible is using....

[2015-02-02 14:51] okoliec commented on #170
@brucellino --I think the upgrade to a higher version of ansible resolved my problem..

[2015-02-02 14:51] brucellino commented on #170
great - did the playbook finish ?

[2015-02-02 14:53] okoliec opened #171 "environment must be a dictionary, received java_env"
Please am getting this new error during my idp install

TASK: [shibboleth-idp | Create the installation directory] ********************
ok: [idp.ugb.sn] => {"changed": false, "gid": 0, "group": "root", "mode": "0755", "owner": "ansible", "path": "/root/idp", "size": 1024, "state": "directory", "uid": 1001}

TASK: [shibboleth-idp | Unpack the tarball] ***********************************
skipping: [

[2015-02-02 14:59] okoliec commented on #170
No i just posted a new issue with the error i got.

[2015-02-02 15:27] okoliec commented on #171
@brucellino --pls any pointers to solving this problem. I want to see this installation complete

[2015-02-02 17:04] fmarco76 commented on #171
It seems the variable java_env is not defined and/or properly initialised in your configuration. You may have a look at the files Debian-servers or CentOS-servers in group_vars directory to see how it can be configured. You have to define the value for the host or in a group containing the host and then run ansible again

[2015-02-03 13:14] #170 closed

[2015-02-04 09:55] brucellino opened #172 "Web service can't be reached after running"
After running the `idp-ldap.yml` playbook, we get no changes, but the web service at `https://idp.sagrid.ac.za` cannot be reached.

the firewall rules are :
[code]

If I add 8443 to the input filter, tomcat responds 404, which means that the service is not listening there. Apparently, the redirect is not working.

Changing the IDP  public IP to localhost just results in a timeout.

[2015-02-04 10:20] brucellino commented on #172
Some more info after changing the firewall by hand, we get :

[code]

Seems that this is triggered by fmarco76.firewall role. By removing the nat table, i've managed to trigger the new firewall rules, however many of them are being skipped :

[code]

[2015-02-04 11:21] brucellino opened #173 "Can't add liferayadmin user in science gateway role."
error from Ansible:

[code]

[2015-02-04 11:29] brucellino opened #174 "can't start liferay domain"
[code]

[2015-02-04 11:40] #172 closed

[2015-02-04 11:44] fmarco76 commented on #174
I think you have a problem in the domain.xml generated from the template. Check if the -Xms value is correct!

[2015-02-06 09:12] brucellino opened #177 "404 after running IdP role."
After running the `ldap-idp` playbook on the SAGrid Catch-All identity services, we are getting a 404.

We're using the inventory : `inventory.identity`, which contains the group `inventory-all`.

[2015-02-06 10:41] brucellino commented on #177
After some investigation, I noted that if I point the browser  to :
https://idp.sagrid.ac.za:8443/ROOT.old/
I see the default IdPpublic layout with all of the `changeme`s.

A workaround was to remove the entire contents of the `webapps` directory : `rm -rf /var/lib/tomcat6/webapps/*` and re-run the playbook. I think should workaround should be added to a FAQ until we can improve the logic.

[2015-02-06 11:05] brucellino commented on #177
I'll close this for now, adding that there is a [workaround](../wiki/ldap-idp-workarounds) in the wiki

[2015-02-06 11:05] #177 closed

[2015-02-06 15:58] brucellino commented on #174
Added the variable `jvm_min_size` to the host vars of the science-gateway.

[2015-02-06 15:58] #174 closed

[2015-02-06 16:03] brucellino opened #178 "Domain creation fails."
when running the science gateway plays, if the liferay domai is already created, the creation of it is nonetheless triggered :

[code]

[2015-02-06 19:02] brucellino commented on #173
Seems that this is no longer occuring. Not sure why.

[2015-02-06 19:04] brucellino opened #179 "Error in configuration of SAGrid database for science gateway"
The current configuration (cd85e153a91b6d76c70fa8fd9abe75c2be7810ba) is incorrectly setting the database connectin parameters in the db for the science gateway. In the liferay domain logs, we get:

[code]

[2015-02-06 19:28] brucellino commented on #179
The DB user creation seems to have gone ok :
[code]
Checking these by hand also seems to work fine :
[code]

[2015-02-06 21:37] brucellino commented on #179
ok. removing the domain and the connector jars, re-running the playbook, I managed to work around this. Not sure why.

[2015-02-06 21:42] #179 closed

[2015-02-09 13:16] okoliec commented on #170
Hello @brucellino and @fmarco76 ---
Please am still getting this error messages. I have looked at the the playbooks for Debian and can't seem to find a clue to solving the error message.

TASK: [shibboleth-idp | Install the package] **********************************
fatal: [idp.ugb.sn] => environment must be a dictionary, received java_env

FATAL: all hosts have already failed -- aborting

PLAY R

[2015-02-10 13:54] brucellino opened #180 "pull in metadata and customise it when deploying IdP"
This issue relates to the fact that the IdP is deployed, but the metadata (metadata.xml) are not customized with the organisation name etc.

Sections similar to the following are needed :
[code]

[2015-02-11 10:46] brucellino opened #181 "problem with hibernate in SAGrid IdP"
When restarting the tomcat6 service, we see

[code]
in the catalina.out log.

[2015-02-11 11:16] brucellino opened #182 "tomcat error arising when executing playbook -"
[code]

[2015-02-11 11:16] brucellino opened #183 "tomcat error arising when executing playbook -"
@fmarco76  can you comment on these ?

[code]

[2015-02-11 11:25] brucellino opened #184 "IDP metadata url"
The IDP metadata url is usually at https://idp.sagrid.ac.za/idp/metadata

however, that is giving a 404.

Now, the IdP metadata url is
https://idp.sagrid.ac.za/idp/profile/Metadata/SAML

Is this correct ?

The TERNET idp for example shows nothing on either of these urls. (note, @damas )

[2015-02-11 12:33] brucellino opened #185 "metadata customisation inserts nonunique entries."
# Problem  description
the `metadata.yml` tasks of the `shibboleth-idp` role should apply several "lineinfiles" to the idp metadata in order to insert the organisation and contact information. This is done, however is repeated every run - ie, not idempotent.

The process is carried out with several  tasks similar to:
[code]

note the regexp. This is clearly not being caught for other stanzas such

[2015-02-11 14:16] fmarco76 commented on #184
The idp metadata are at
https://idp.sagrid.ac.za/idp/profile/Metadata/SAML
and
https://idp.sagrid.ac.za/idp/shibboleth

The first url is configured through the handler.xml config file and it refer to a physical file whereas the other is partially depending on a file (I am not sure about this).

Anyway, it is better to providing the file using the handler after the metadata are checked and complete

[2015-02-11 14:16] #184 closed

[2015-02-11 14:18] fmarco76 commented on #182
When did you get this error (startup. shutdown or randomly during normal execution)?

[2015-02-11 14:19] brucellino commented on #182
at shutdown.

[2015-02-11 14:28] fmarco76 commented on #182
Googleing this error it seems the problem is with the order the classloader discard the class. It remove the class before the use. There are several solution proposed but they are based on trial and error changing the order how the libraries are loaded. I should find the time for some tests

[2015-02-11 14:29] fmarco76 commented on #182
However, since is is at shutdown there is not problem with the running service and even the stop is not clean there are not inconsistent states. So it is safe to execute in any case

[2015-02-12 12:51] brucellino commented on #185
closed by 6772648

[2015-02-12 12:51] #185 closed

[2015-02-12 12:51] brucellino commented on #180
closed by 6772648

[2015-02-12 12:51] #180 closed

[2015-02-12 14:11] brucellino commented on #158
The issue has been identified - the old version of the library  was present from a previous install. This meant that the file copy was skipped. Cleaning out the old install and re-running the playbook fixed the problem.

[2015-02-12 14:11] #158 closed

[2015-02-12 14:13] brucellino commented on #122
@damas  can you comment on whether this was resolved or not ?

[2015-02-12 14:14] brucellino commented on #119
Closing this Invalid, since the state of the site has changed.

[2015-02-12 14:14] #119 closed

[2015-02-12 15:02] brucellino commented on #162
We have the same problem on the sagrid science gateway

[2015-02-13 13:19] brucellino commented on #164
After careful review, this was not the case - the host name written in the template is correct. However, there is still a problem accessing the db. I'm changing the title of the ticket.

[2015-02-13 13:19] brucellino commented on #182
Ok. Closing this then.

[2015-02-13 13:19] #182 closed

[2015-02-20 14:38] brucellino opened #186 "Install dependencies for Science Gateway is not idempotent"
This play :
[code]
is not idempotent.

[2015-02-20 15:13] brucellino commented on #164
We have identified that the password used for tracking user is incorrect.

[2015-02-20 15:29] brucellino opened #188 "job submission not writing to grid operations database"
job submission seems to be working ok. but my-jobs shows no jobs. The grid operations database is empty.

[2015-02-20 15:32] fmarco76 commented on #188
Need the VO certificates!

[2015-02-20 17:03] #173 closed

[2015-03-06 11:19] brucellino commented on #64
This has been tested in dev and CHPC site. Closing.

[2015-03-06 11:19] #64 closed

[2015-03-06 11:20] brucellino commented on #122
@damas we are preparing to make the pre-release v0.0.4 and I'm going through the issues opened inn this milestone. Can you comment on whether we can close this or not ?

[2015-03-06 11:37] brucellino opened #192 "user liferayadmin missing"
The announcement of a new SP is failing

[code]

[2015-03-06 12:32] #192 closed

[2015-03-06 12:39] brucellino commented on #127
@rahimbouchra I think this has been fixed in a previous commit - can we close it ?

[2015-03-06 12:45] brucellino opened #193 "Shibboleth configuration for SP is not idempotent"
The tasks in the glassfish shibboleth configuration are not idempotent.

[code]
These should not be changed, but ok.

[2015-03-06 13:11] #186 closed

[2015-03-06 13:36] brucellino commented on #98
Let's leave this for a later release.

[2015-03-06 13:37] brucellino commented on #114
leaving this for a later milestone.

[2015-03-06 13:53] brucellino commented on #178
This was due to incorrect logic in the start-domain task, which had previously failed.

[2015-03-06 13:53] #178 closed

[2015-03-06 14:40] brucellino opened #194 "Portal properties creation problem"
[code]

[2015-03-06 14:42] brucellino commented on #194
This error was obtained before we ran the basic configuration... it might be "expected behaviour". I'm running the playbook  again to see if it represents itself after basic config.

[2015-03-06 14:48] brucellino commented on #194
Confirm that this was due to the "first run" issue - the solution is to simply re-run the playbook.

[2015-03-06 14:48] #194 closed

[2015-03-09 09:33] damas commented on #122
Hi Bruce,
Sorry for being silence for awhile, was at field running some workshops/trainings and was not be able to respond on this.
I don’t know if the problem with my IDP relate with LDAP any more but what I am getting problem with IDP are;
I can’t login with error, "wrong username or incorrect password”
Just to solve error #1 above, tried to reset password by going "forget your password” link an

[2015-03-11 10:49] brucellino commented on #122
Thanks Damas, I'll keep this open then and we'll see about fixing it soon.

[2015-03-12 07:54] smasoka opened #195 "worker nodes playbook yaim Error"
Error from playbook is:
 failed: [gnode-2-34] => {"changed": true, "cmd": "/opt/glite/yaim/bin/yaim -c -s /opt/glite/yaim/etc/ZA-CHPC/siteinfo/site-info.def -n MPI_WN -n WN -n TORQUE_client", "delta": "0:08:10.685514", "end": "2015-03-12 09:44:31.436490", "rc": 96, "start": "2015-03-12 09:36:20.750976", "warnings": []}

So i checked the yaim logs for the Error:
WARNING: VO sagrid.ac.za doesn't hav

[2015-03-12 10:05] brucellino commented on #195
Ok, these are actually two different erros :

  1. `WARNING: VO sagrid.ac.za doesn't have pool accounts defined in /opt/glite/yaim/etc/ZA-CHPC/siteinfo/users.conf`
  1. `ABORT: Group 'sgmdteam' with gid '1810' for user 'sgmdteam0' failed to be created !`

can you please first confirm which branch you're using (should be `dev`)

For 1, I will try to reproduce.
For 2, this is a conflct with the uids

[2015-03-12 13:01] smasoka commented on #195
yes, im using the dev repo, I cloned the dev repo.

Will check number 2 and get back to you.

[2015-03-17 11:25] brucellino opened #196 "problems retrieving epel metadata"
When configuring a new site-bdii, we're getting :

[code]

[2015-03-17 11:31] brucellino commented on #196
[this](http://unix.stackexchange.com/questions/148144/unable-to-pull-epel-repository-metadata) suggests that it's a problem with ssl certs.

[2015-03-18 11:27] brucellino commented on #15
just an update - got this issue again today. Removing the "on-hold" tag

[2015-03-18 11:41] brucellino commented on #15
fixed by 927374f

[2015-03-18 11:41] #15 closed

[2015-03-18 17:36] brucellino commented on #196
We only have a work around for now - run ansible on the command line to ensure that the ca-certs package is upgraded OR disable https on the EPEL repo.

[2015-03-19 09:23] brucellino opened #197 "problems adding host ips with hostvar variables (variables missing)"
I'm getting a lot of the following errors:
[code]
in
[code]
the task is :

[code]

and the template is :
[code]

[2015-03-19 10:54] Abdelrahman1985 opened #198 "Certificate Error in idp-ldap.yml & liferay-csgf.yml"
Dear All,
after i run the playbook idp-ldap.yml -- i got the following error :
TASK: [Announce new IdP to the federation manager] ****************************
failed: [idp1.asrenorg.net] => {"failed": true}
msg: Failed to validate the SSL certificate for asrenorg.net:443. Use validate_certs=no or make sure your managed systems have a valid CA certificate installed. Paths checked for this platform:

[2015-03-19 10:55] Abdelrahman1985 commented on #198
@brucellino :)

[2015-03-19 11:18] brucellino opened #199 "communication problem between ldap and idp (finding orgs)"
On a default installation, running the idp-ldap playbook, the idp seems not able to communicate with the back-end ldap installation to pull in the list of organisations.

This is seen during the registration phase we don't see the list of organisations in countries listed, however they should be included in the ldap

this is done in the `ldap` role, by task

[code]

[2015-03-19 12:07] brucellino commented on #198
these are two separate issues, (invalid CA certs and missing certificate)  could you please open one ticket per issue. Thanks  !

[2015-03-19 12:07] #198 closed

[2015-03-19 12:35] brucellino commented on #122
This might have been fixed by #199

[2015-03-19 12:46] Abdelrahman1985 opened #201 "Error in liferay-csgf.yml"
@brucellino
ear All,
after i run the playbook  liferay-csgf.yml -- i got the following error :

TASK: [liferay-csgf | create liferay domain] **********************************
failed: [sgw.asrenorg.net] => {"changed": true, "cmd": "./asadmin --interactive false --passwordfile /home/liferayadmin/passwordfile --user liferayadmin create-domain liferay", "delta": "0:00:00.766069", "end": "2015-03-19 1

[2015-03-19 12:50] Abdelrahman1985 opened #202 "Certificate Error in idp-ldap.yml"
@brucellino

Dear All,
after i run the playbook idp-ldap.yml -- i got the following error :
TASK: [Announce new IdP to the federation manager] ****************************
failed: [idp1.asrenorg.net] => {"failed": true}
msg: Failed to validate the SSL certificate for asrenorg.net:443. Use validate_certs=no or make sure your managed systems have a valid CA certificate installed. Paths checked for t

[2015-03-19 15:08] brucellino commented on #202
can you check that the root certificate of the Comodo CA is installed on the machine ? It should be `ca-certificates` package.

[2015-03-19 15:12] Abdelrahman1985 commented on #202
how can i check it?

[2015-03-19 15:12] brucellino commented on #202
yum install ca-certificates

[2015-03-19 15:13] Abdelrahman1985 commented on #202
Package ca-certificates-2014.1.98-65.1.el6.noarch already installed and latest version

[2015-03-22 06:05] Abdelrahman1985 commented on #202
hi all,
any solution for this problem ?

[2015-03-22 06:05] Abdelrahman1985 commented on #201
hi all,
any solution for this problem ?

[2015-03-22 11:05] Abdelrahman-Hasan opened #203 "Java Error in liferay-csgf.yml"
Hi all,
i become the following error

[code]
@brucellino
@fmarco76

[2015-03-23 07:11] Abdelrahman1985 commented on #202
e have re-installed the file “idp-ldap.yml” and we have got the following result:failed: [idp.asrenorg.net] => {"failed": true}
msg:  failed to send payload={"username": "Ansible on idp.asrenorg.net", "text": "A new Shib-IdP has been deployed. Metadata is at https://idp.asrenorg.net/idp/shibboleth. Ask @fmarco76 to check it and add it to the test federation.", "parse": "full", "link_names": 1, "ic

[2015-03-23 07:12] Abdelrahman1985 commented on #201
we have re-installed the file “iferay-csgf.yml” and we have got the following result
https://github.com/AAROC/DevOps/issues/203

[2015-03-23 09:51] Abdelrahman1985 commented on #203
after a new execution for this file i have the following error

TASK: [liferay-csgf | Start the Liferay Domain] *******************************
failed: [sgw.asrenorg.net] => {"ansible_job_id": "139731600538.18775", "changed": true, "cmd": "./asadmin --interactive false --passwordfile /etc/abd/passwordfile --user liferayadmin start-domain liferay", "delta": "0:00:01.071887", "end": "2015-03-23 11:4

[2015-03-23 10:29] brucellino commented on #203
this looks like a problem with glassfish itself. @fmarco76 can you remind us where these logs are ?

[2015-03-23 10:29] brucellino commented on #202
This is due to the slack_token not being passed. I'll pass it to you on the slack channel.

[2015-03-23 10:32] Abdelrahman1985 commented on #202
what should i do ?

[2015-03-23 10:41] Abdelrahman1985 commented on #203
failed: [sgw.asrenorg.net] => {"ansible_job_id": "796803850166.22786", "changed": true, "cmd": "./asadmin --interactive false --passwordfile /home/liferayadmin/passwordfile --user liferayadmin start-domain liferay", "delta": "0:00:01.040719", "end": "2015-03-23 12:39:26.758936", "finished": 1, "rc": 1, "start": "2015-03-23 12:39:25.718217", "warnings": []}
stderr: Error starting domain liferay.
Th

[2015-03-23 10:44] fmarco76 commented on #203
It seems a problem with the password file.
The command executed by ansible refers to /etc/abd/passwordfile  but the task we develop was using a different file. Have you modified the file or performed other changes to justify the different file?

[2015-03-23 10:44] brucellino commented on #203
ah ok. You're probably missing the `host_vars` that define the heap size. In our dev instance, we have
[code]

[2015-03-23 10:50] Abdelrahman1985 commented on #203
also now my inventory file in
/etc/ansible/hosts/inventory.dev should be as the following ?
[ldap-servers]
ldap.asrenorg.net needs_certificate=true

[shibboleth-idps]
idp.asrenorg.net  needs_certificate=true

[science-gateways]
sgw.asrenorg.net needs_certificate=true

[db-servers]
min_jvm_size=1024m max_jvm_size=2048m db-server=sgw.asrenorg.net  needs_certificate="true"

[identity-all:children]
ld

[2015-03-23 10:56] brucellino commented on #203
Yes, this looks fine. However, note that the group  that you've specified your hosts to belong to (`identity-all`) has the following variables (in `group_vars/identity-all`) :
[code]
You should copy `group_vars/identity-all` to something like `group_vars/identity-asren` to add your institute-specific information, and change your inventory to be :

[code]

[2015-03-23 11:03] Abdelrahman1985 commented on #203
after edit inventory
this error has been appeared :

TASK: [liferay-csgf | Start the Liferay Domain] *******************************
ok: [sgw.asrenorg.net]
<job 700298964332.27893> polling, 40s remaining
failed: [sgw.asrenorg.net] => {"ansible_job_id": "700298964332.27893", "changed": true, "cmd": "./asadmin --interactive false --passwordfile /home/liferayadmin/passwordfile --user liferayadmin sta

[2015-03-23 11:04] Abdelrahman1985 commented on #203
@fmarco76  password file now is the default

[2015-03-23 11:06] Abdelrahman1985 commented on #202
@brucellino
@fmarco76
what is the solution for this problem :
failed: [idp.asrenorg.net] => {"failed": true}
msg: failed to send payload={"username": "Ansible on idp.asrenorg.net", "text": "A new Shib-IdP has been deployed. Metadata is at https://idp.asrenorg.net/idp/shibboleth. Ask @fmarco76 to check it and add it to the test federation.", "parse": "full", "link_names": 1, "icon_url": "http://www

[2015-03-23 11:07] fmarco76 commented on #203
The error is now different. It seems the ports used by glassfish are already used. Is there a different instance running? Are they used by other services

[2015-03-23 11:07] Abdelrahman1985 commented on #203
no

[2015-03-23 11:08] brucellino commented on #203
probably an already running instance. This is one of the weak points of the automation - we haven't worked around this yet. Check that there is no instance of java running - if so, kill it.

[2015-03-23 11:10] brucellino commented on #202
This is just because you didn't pass the proper HTTP header info to slack- you can solve this by adding `-e slack_token="<the token>" to the command line when running the playbook. Use the token that I sent to you in Slack. We keep it quasi-secret  for obvious reasons :)

[2015-03-23 11:10] fmarco76 commented on #202
The IdP is not providing the metadata so I cannot add to the test federation. The error is before in the workflow. Actually, the installation should not provide any error even if the service is not registered in any federation.

[2015-03-23 11:11] Abdelrahman1985 commented on #203
on sgw server :

[root@sgw ~]# ps aux | grep java
root     26961  0.0  0.0 103244   876 pts/0    S+   13:08   0:00 grep java

on idp server :
[root@idp ~]# ps aux | grep java
tomcat   19443  0.8  9.7 1471960 186704 ?      Sl   12:25   0:23 /usr/lib/jvm/java/bin/java -Djavax.sql.DataSource.Factory=org.apache.commons.dbcp.BasicDataSourceFactory -Xmx512m -XX:MaxPermSize=128m -Djavax.sql.DataSource.Fa

[2015-03-23 11:13] fmarco76 commented on #203
From you log:

[#|2015-03-23T11:02:07.295+0000|SEVERE|glassfish3.1.2|javax.enterprise.system.core.com.sun.enterprise.v3.server|_ThreadID=1;_ThreadName=main;|Shutting down v3 due to startup exception : No free port within range: 8080=com.sun.enterprise.v3.services.impl.monitor.MonitorableSelectorHandler@3da23132|#]

If the port is not used than try again!

[2015-03-23 11:19] Abdelrahman1985 commented on #203
the same error
all servers are new & never used only using playbook

[2015-03-23 11:20] Abdelrahman1985 commented on #202
now i become this errorfailed: [ldap.asrenorg.net] => {"changed": true, "cmd": ["ldapadd", "-x", "-w", "prolog51254r", "-D", "cn=admin,dc=local", "-H", "ldap:///", "-f", "/tmp/root.ldif"], "delta": "0:00:00.016740", "end": "2015-03-23 13:14:06.500766", "rc": 49, "start": "2015-03-23 13:14:06.484026", "warnings": []}
stderr: ldap_bind: Invalid credentials (49)FATAL: all hosts have already failed --

[2015-03-23 11:41] brucellino opened #204 "Proper usage of ssh keys on bootstrap."
Currently the ansible user created on bootstrapped machines are using two "admin" ssh keys. This is too static and should be done using a lookup of the current user's (or some other variable) ssh key.

[2015-03-23 12:05] Abdelrahman1985 commented on #203
tomcat listen to 8080 (!!!!--on IDP server--!!??) & 8080 not used on SGW server
we have changed the port from 8080 to 80 in server.xml for tomcat (!!!!--on IDP server--!!??)
& run the command again &  the error now :

failed: [sgw.asrenorg.net] => {"ansible_job_id": "639936070212.4856", "changed": true, "cmd": ["/sbin/reboot"], "delta": "0:00:00.032566", "end": "2015-03-23 14:04:32.226041", "finis

[2015-03-23 12:22] Abdelrahman1985 commented on #203
@brucellino @fmarco76
please send me the solution for this error

[2015-03-23 16:58] brucellino opened #205 "GLITE_LB_TYPE is not set"
problem during yaim configuration.

[2015-03-23 17:10] brucellino commented on #205
closed by 78b9722

[2015-03-23 17:10] #205 closed

[2015-03-24 11:02] brucellino commented on #201
Closing this as a dupliate of #203.
The issue is that the sgw and idp are being interpreted as the same host. Although they are specified differently in the inventory (by name), something else is mapping the names of these two machines to the same machine (idp).

[2015-03-24 11:02] #201 closed

[2015-03-24 11:09] brucellino commented on #202
@Abdelrahman1985 I'm closing this, since it was originally referring to the CA certs not being installed. Open a new ticket with the LDAP authentication issue that is now being reported. Thanks !

[2015-03-24 11:09] #202 closed

[2015-03-24 11:10] brucellino commented on #144
This has been fixed in a previous commit.

[2015-03-24 11:10] #144 closed

[2015-03-25 16:14] brucellino opened #206 "where are the ldap logs ?"

[2015-03-25 16:15] brucellino opened #207 "default idp link reported by Ansible is incorrect"
E.g. `https://idp.asrenorg.net/idp/shibboleth`
this is misconfigured by the code.

[2015-03-25 16:53] Abdelrahman-Hasan opened #208 "connection refused between idp & ldap"
Dear all,
idp can't establish connection with ldap

tomcat log :

Exception in thread "HSQLDB Timer @1d8a8963" java.lang.NullPointerException
	at org.hsqldb.lib.HsqlTimer.nextTask(Unknown Source)
	at org.hsqldb.lib.HsqlTimer$TaskRunner.run(Unknown Source)
	at java.lang.Thread.run(Thread.java:745)
Mar 23, 2015 6:46:03 AM org.apache.catalina.loader.WebappClassLoader loadClass
INFO: Illegal access: t

[2015-03-25 17:34] brucellino opened #209 "error adding root node to LDAP"
It seems that the password passed to the task is incorrect (see below).

This was done on a previously unconfigured machine - there should be no password.
 ________________________________
< TASK: ldap | Add the root node >

failed: [vm03.ct.infn.it] => {"changed": true, "cmd": ["ldapadd", "-x", "-w", "password", "-D", "cn=admin,dc=local", "-H", "ldap:///", "-f", "/tmp/root.ldif"], "delta": "0:00:

[2015-03-25 18:24] brucellino opened #210 "use the variable dn instead of hard-coded dn for useradmin in ldap config."
the user admin DN is currently hard coded in most of the ldap plays.
`cn={{ admin }},dc=local`
 This should be variable like `dn:` which can then be used according the site preference.

[2015-03-25 18:29] brucellino opened #211 "problem pushing templates (missing directory)"
when running on a fresh install, we get the following errors:

[code]

It seems that the ROOT directory hasn't been created from the app deploy yet because some of the  jsp's are pushed  (the last ones)

[2015-03-31 09:38] smasoka commented on #195
**Solving number 1**
Kinda solved it self... hahahaha

**Solving number 2**
So ../templates/opt/glite/yaim/etc/siteinfo/users.conf.j2
has this code, which causes group conflicts

for number in range(2) -%}
{{ 18101 + number }}:prddteam{{ number }}:**1810**,1800:prddteam,dteam:dteam:prd
{% endfor -%}

{% for number in range(2) -%}
{{ 18201 + number }}:sgmdteam{{ number }}:{{ **1810 + number**}},180

[2015-04-17 16:34] okoliec opened #213 "Registration Page error"
Hello @fmarco76 @brucellino,

I just completed an ldap and idp delpoyment using ansible. Everything was successful except for the registration page form after completing the form and hiting the submit button.

I got a tomcat server error page. I just pasted some portion of the page. Please you can try registering  an account on this page and see the error. I have also pasted d error i got below th

[2015-04-17 16:44] fmarco76 commented on #213
Hi @okoliec ,

it seems there is a problem with the DB file. Could you check the file path (should be in the file hibernate.cfg.xml inside your webapp). See if the file is created or not and eventually the reasons (permission, not existing path, etc...)

[2015-04-17 16:50] okoliec commented on #213
This is the path to the file
[root@idp WEB-INF]# less classes/hibernate.cfg.xml
<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:file:/var/run/db/hsqldb/idp</property>

I think the file is also created
[root@idp WEB-INF]# ls -al /var/run/db/hsqldb/
total 24
drwxr-xr-x. 3 tomcat tomcat 4096 Apr 11 23:54 .
d

[2015-04-17 17:11] fmarco76 commented on #213
yes, the file is there. Is tomcat running as tomcat user? Is not there is not write permission.

Could you check if the file timestamp change when you try to register? If you have not pending registration you could delete the files and make tomcat re-create them.

The problem is there but I am not sure what it is (Are you using SE linux or similar?)

[2015-04-17 17:36] okoliec commented on #213
this is the permission i have on the tomcat folder
[root@idp webapps]# ls -al
total 11684
drwxrwxr-x.  4 root   tomcat     4096 Apr 11  2015 .
drwxrwxr-x.  3 root   root       4096 Apr 10  2015 ..
drwxr-xr-x. 10 tomcat tomcat     4096 Apr 11  2015 ROOT
drwxr-xr-x. 10 tomcat tomcat     4096 Apr 10  2015 ROOT.old
-rw-r--r--.  1 root   root   11945655 Apr 10  2015 ROOT.war

I noticed Selinux was in e

[2015-04-22 13:19] smasoka opened #214 "MPI Installation"
1. MPICH2 is not installed
2. OPENMPI is not installed
3. Packages currently installed by Ansible are :
     emi-mpi-1.0.2-1.el6.noarch
     glite-yaim-mpi-1.1.12-1.el6.noarch
     mpi-start-1.5.3-1.el6.noarch
 4. What is needed:
     openmpi-1.5.4-2.el6.x86_64
     mpich2-devel-1.2.1-2.3.el6.x86_64
     mpi-start-1.5.3-1.el6.noarch
     glite-yaim-mpi-1.1.12-1.el6.noarch
     openmpi-devel-1.5.4-

[2015-04-24 10:52] okoliec commented on #213
Hello Marco,
Please am still stocked with this issue. Any clues on how to resolve would
be appreciated.

Thanks and hope you are good.

kind regards
Cletus

On Fri, Apr 17, 2015 at 6:11 PM, Marco Fargetta <notifications@github.com>
wrote:

[2015-04-28 10:03] fmarco76 commented on #213
Hi Cletus,

I was out for a conference. Is the problem still there? Have you done any test?
Logs?

[2015-04-28 10:44] okoliec commented on #213
Hello Marco,
Hope the conference was fruitful.

Yeah the problem is still there and i can. I have looked at the logs and
noticed this error after i restarted tomcat.

sorImpl.java:43) ~[na:1.7.0_79]

at java.lang.reflect.Method.invoke(Method.java:606) ~[na:1.7.0_79]

at org.apache.catalina.startup.Bootstrap.start(Bootstrap.java:289)
[bootstrap-6.0.24.jar:na]

at org.apache.catalina.startup.Bootstr

[2015-04-28 11:59] damas commented on #213
Hi Okolie,
Are you talking about the communication between IdP and ldap? I have the same related, on my side at the IdP web page gives an error of unknown username/password when trying to login.
And on registration it kept on loading for awhile and finally will end up with an error “username already assigned” and “Email already registered”

Team, any clue please?

Rgds,
Damas

Network Eng | CTO |

[2015-04-28 12:17] okoliec commented on #213
@damas
Have you tried another username/password or registering another user to test with. What did your idp log say

Below is a description of my own issue
I believe the communication btw the IdP and Ldap is fine in my case as I am able to login with the initial user i created during installation from the login menu on the Idp web UI. The problem i am experiencing is that i can not register new us

[2015-04-29 10:20] fmarco76 commented on #213
@okoliec

The LDAP is configured in three different place. The shibboleth attribute resolver uses its configuration and it is different from the one used by the web interface. To fix the attribute resolver error you have to check the LDAP configuration in ``attribute-resolver.xml`` inside your shibboleth idp configuration.

For the other error it seems a problem with hibernate but I am not sure if

[2015-04-29 14:24] damas commented on #213
Hi Okolie,
I fixed my problem and now I can be able to login and users can be able to register. I think I can assist to fix yours as well however mine was fixed manually and not over ansible, so we can share what is configured in some of the files so that you can try to tell ansible fix them.
As per Marco’s email try to check those files.
Rgds,
Damas

Network Eng | CTO | TERNET
Mob: +255 754|714 4

[2015-04-29 15:07] okoliec commented on #213
@fmarco76

I have checked the file and compared with the one i did manually nut experiencing the same problem.

Yes i followed the ansible installation. See the OS i installed on
[root@idp conf]# lsb_release -a
LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch
Distributor ID:	CentOS
Description:	CentOS release 6.6 (Final)
Release:	6.6
Codename:	Final

@damas
Can you point

[2015-04-30 09:55] magfathy opened #215 "needs_certificate error"
this error happened when we try to deploy science gatway

![liferay](https://cloud.githubusercontent.com/assets/12183998/7410515/d0cd73d4-ef2f-11e4-9b47-5f298dbe6c68.png)

TASK: [certificates | Copy host x509 certificate into /etc/grid-security] *****
fatal: [vm01.mucsat.sci.eg] => error while evaluating conditional: hostvars['vm01.mucsat.sci.eg'].needs_certificate == 'true'

FATAL: all hosts have

[2015-04-30 11:53] brucellino commented on #215
Hello !
This looks like you haven't set the needs_certificate variable for the host being configured (vm01.mucsat.sci.eg) This should be done in the inventory -
`vm01.mucsat.sci.eg needs_certificate='true'`
This is *probably* not documented, so our bad :( Please add the host vars and re-run.

[2015-05-05 11:00] GhadaFathy opened #216 "could not create domain, liferay"
when we try to install science gateway using this command ansible-playbook -i inventories/inventory.mucsat.sci.eg liferay-csgf.yml
 we got this error
failed: [vm01.mucsat.sci.eg] => {"changed": true, "cmd": "./asadmin --interactive false --passwordfile /home/liferayadmin/passwordfile --user liferayadmin create-domain liferay", "delta": "0:00:05.818495", "end": "2015-05-05 06:18:53.877867", "rc": 1

[2015-05-05 12:04] damas commented on #213
Hi Okolie,
My apology that I didn’t get time to come back as per your email. Do you still have problem or it is solved? if yes, can we have a Skype may be by tomorrow whereby I can try to share what I have or what I changed for my IdP to work?

Rgds,
Damas

Network Eng | CTO | TERNET
Mob: +255 754|714 464678
Skype: dmakweba
Alt.Email: dmakweba@icloud.com

[2015-05-06 16:23] fmarco76 commented on #216
It seems there is an instance of liferay running in the serve but with a problem and ansible cannot identify the running service. Did you run the command in a new machine or there was liferay already?

[2015-05-06 16:25] fmarco76 commented on #213
Is the problem still there? Did you find the configuration error?

[2015-05-07 09:01] okoliec commented on #213
@fmarco76

The problem is still there. I have not been able to find the configuration error.

@damas
Please when can you be available online so we can try yo look at the configs together. Sorry i was on transit when i saw your mail 2 days ago.

[2015-05-08 17:59] okoliec commented on #213
@fmarco76

I found out  while troubleshooting that tomcat was trying to read a ROOT.old instead of ROOT directory (/var/lib/tomcat6/webapps/ while restarting.

I removed the ROOT.old and the registration page now works.

Please i can't seem to find a place to approve the user. When I logged the user was not showing up as usual to approve him so he can login to the IdP.

Thanks

[2015-05-11 13:58] fmarco76 commented on #213
This problem with ROOT.old is strange but I will investigate and fix it in ansible. I'll open an Issue for this

If you are in tthe administrator group for the IdP (look in your LDAP) you should see the link to the authorisation page. If you are not please add your account.

Of course in the ldap configuration there is the name of the administrator group, take care to match the one in LDAP.

[2015-05-11 13:58] #213 closed

[2015-05-11 13:59] fmarco76 opened #217 "ROOT.old"
The ROOT.old directory can create conflict with the correct ROOT making the startup problematic and stopping the application to work

[2015-05-11 15:01] okoliec commented on #213
The user am using is in the administrator group but  am not seeing the authorisation page. See output. I am using the user admin.

root@ldapnew:/etc/ldap# ldapsearch -x -H ldap:/// -b cn=Administrator,ou=Group,dc=idp,ou=Services,dc=local
# extended LDIF
#
# LDAPv3
# base <cn=Administrator,ou=Group,dc=idp,ou=Services,dc=local> with scope subtree
# filter: (objectclass=*)
# requesting: ALL
#

# Admi

[2015-05-11 21:29] damas commented on #213
@Okolie,
I don’t know how to fix this but you supposed to get something like this one below;

[root@ldap ~]# ldapsearch -x -H ldap:/// -b cn=Administrator,ou=Group,dc=idp,ou=Services,dc=local
# extended LDIF
#
# LDAPv3
# base <cn=Administrator,ou=Group,dc=idp,ou=Services,dc=local> with scope subtree
# filter: (objectclass=*)
# requesting: ALL
#

# Administrator, Group, idp, Services, local
dn: cn=

[2015-05-12 13:06] WaelSAfifi opened #218 "Error when executing IdP-LDAP playbook"
@brucellino @fmarco76

When trying to execute the IdP-LDAP playbook using this command:

[code]
We got the following error message:

[code]

 We also got a similar error when we checked the status of the slapd service as indicated below:

[code]

How do you think we can solve this problem?

[2015-05-12 13:17] brucellino commented on #218
Hi @WaelSAfifi , thanks for the report :bow:  Two things :

As it stands, it's hard to understand what's triggering this error. I can't tell for example which task it's failing on.

Please :

  1. please increase the verbosity of the playbook ( `-vvv` )
  1. Attach the full output of the playbook (clean passwords or other sensitive information).

Thanks !

[2015-05-12 13:37] WaelSAfifi commented on #218
Sorry, I update the post to be more clear.
The output of the playbook is too long, but it ends with unfinished task as shown below.

----------------------------------------------------------------------------------------------------------------------
TASK: [ldap | Apply overlays] *************************************************
<eri_idp_ldap> ESTABLISH CONNECTION FOR USER: root
<eri_idp_ldap> RE

[2015-05-12 13:56] brucellino commented on #218
ok, this is clearly an LDAP issue. I will assign to @fmarco76. Can you please post us the cleaned contents of /tmp/overlays.ldif on the LDAP host.

It is most likely due to missing variables, so could you also show us the group_vars for your site.

See [https://github.com/AAROC/DevOps/blob/dev/Ansible/group_vars/identity.example](https://github.com/AAROC/DevOps/blob/dev/Ansible/group_vars/identity

[2015-05-12 13:59] brucellino commented on #216
@GhadaFathy  - did you manage to reproduce the problem, or have you solved it ? :pray: Bruce

[2015-05-12 14:03] brucellino commented on #217
@fmarco76 : do you have a proposal of how to address this ?

[2015-05-12 17:10] okoliec commented on #213
I created using ansible. The first user i added is the user idpadmin. Am surprised that i cant find the authorisation page as posted. Just some clearification.
what is the difference between these two users
# Administrator, Group, idp, Services, local
dn: cn=Administrator,ou=Group,dc=idp,ou=Services,dc=local
objectClass: groupOfUniqueNames
objectClass: top
cn: Administrator
uniqueMember: cn=userad

[2015-05-12 23:13] WaelSAfifi commented on #218
The contents of /tmp/overlays.ldif is:
-------------------------------------------------------------------------------------
dn: olcOverlay=ppolicy,olcDatabase={1}hdb,cn=config
objectClass: top
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcPPolicyConfig
olcOverlay: ppolicy
olcPPolicyDefault: cn=default,ou=policies,dc=local
olcPPolicyHashCleartext: TRUE

dn: olcOverlay=member

[2015-05-13 12:19] WaelSAfifi commented on #218
The contents of /tmp/overlays.ldif is:
-------------------------------------------------------------------------------------
dn: olcOverlay=ppolicy,olcDatabase={1}hdb,cn=config
objectClass: top
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcPPolicyConfig
olcOverlay: ppolicy
olcPPolicyDefault: cn=default,ou=policies,dc=local
olcPPolicyHashCleartext: TRUE

dn: olcOverlay=member

[2015-05-13 13:26] MohamedFattah commented on #216
Hi,
we have started the installation in a new machine to be sure there's no previous liferay installation
and we ran in the same error

TASK: [liferay-csgf | create liferay domain] **********************************
<vm01.mucsat.sci.eg> ESTABLISH CONNECTION FOR USER: ansible on PORT 22 TO vm01.mucsat.sci.eg
<vm01.mucsat.sci.eg> REMOTE_MODULE command ./asadmin --interactive false --passwordfile /ho

[2015-05-13 13:42] brucellino commented on #218
Hi @WaelSAfifi - I think this may be due to incompatible directory structure. Can you please help me verify by running

`ldapadd -Y EXTERNAL -H, ldapi:/// -f /tmp/overlays.ldif`

on the ldap machine , and give us the full output ?

Thanks

[2015-05-13 13:51] WaelSAfifi commented on #218
Hi @brucellino .

This is the full output:

SASL/EXTERNAL authentication started
SASL username: gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth
SASL SSF: 0
adding new entry "olcOverlay=ppolicy,olcDatabase={1}hdb,cn=config"
ldap_add: Invalid syntax (21)
        additional info: objectClass: value #3 invalid per syntax
-----------------------
Thanks.

[2015-05-13 14:02] brucellino commented on #218
ok, I think the most likely candidate is that your `root_password_clear` variable is not set. It should be in your your `group_vars` *and* the hosts that you are configuring should be in the group defined by your `group_vars` (check your inventory to confirm this).

[2015-05-13 14:43] salmaM opened #219 "SG Playbook Error"
I have installed liferay on Centos 7 VM.
While executing liferay.csgf playbook, i had an error in task glassfish-install dependencies (RedHat).

The error:

TASK: [glassfish | install dependencies (RedHat)] *****************************
failed: [192.168.195.130] => (item=shibboleth,httpd,lcg-CA,java-1.7.0-openjdk-devel.x86_64,fontpackages-tools,mod_ssl.x86_64,php.x86_64,vim-enhanced.x86_64,fetch-c

[2015-05-13 14:48] WaelSAfifi commented on #218
I set the root_password_clear variable in Ansible/group_vars/identity-all .However, I got the same error when I executed the IdP-LDAP playbook then.
Also the configuring hosts are defined in the same file (i.e., Ansible/group_vars/identity-all) as you could see from its contents in my previous comment.
In addition, the contents of my inventory is as follows:
_______________________________________

[2015-05-13 14:51] brucellino commented on #218
ok, I think this is the problem - you don't have a group `identity-all`. you should just move the variables from `group_vars/identity_all` to `group_vars/identity.dev`

First try that.

however, a better idea (if that works) is to create a new group for your site. The group name in the inventory corresponds to the name of the file in group_vars. You can have something like

[code]
and `group_vars/

[2015-05-13 14:54] brucellino commented on #219
Hi @salmaM, thanks for the report.

This one looks easy. We don't support CentOS7 with this release, only CentOS6.

The only way to get around this is I think to use the different OS.

We do have  plans to support CentOS7, but this hasn't been tested yet.
Thanks!

[2015-05-13 14:54] #219 closed

[2015-05-14 09:14] brucellino commented on #216
Hello @GhadaFathy, you are right that the error is diagnosed by the line :
[code]
however, this is usually a symptom of a preexisting java instance runing. Can you chekc if there are any java processes - do
[code]

[2015-05-14 10:54] magfathy commented on #216
Hi Bruce,

we do the command "ps aux | grep java"  and there was java
     root      8023  0.0  0.0 103240   880 pts/0    S+   06:50   0:00 grep java
then we removed it and run the plabook again
    ansible-playbook -i inventories/inventory.mucsat.sci.eg liferay-csgf.yml -v -vvvvv
and the same error happened again and we found a new installation of java.

[2015-05-15 12:01] brucellino commented on #216
I'm going to put this on hold until next week, if you don't mind, so we can take a closer look at it.

[2015-05-16 15:13] sherif-saif commented on #218
Hello Bruce

Unfortunately, the same error persists:
====================
failed: [192.168.195.129] => {"changed": true, "cmd": ["ldapadd", "-Y", "EXTERNAL", "-H", "ldapi:///", "-f", "/tmp/overlays.ldif"], "delta": "0:00:00.008202", "end": "2015-05-16 19:04:21.617729", "rc": 21, "start": "2015-05-16 19:04:21.609527", "warnings": []}
stderr: SASL/EXTERNAL authentication started
SASL username: gidNu

[2015-05-18 10:36] MohamedFattah commented on #216
Hi Bruce,

What do you think about what can we do in Lifery error: "could not create domain, liferay #216" Error.

[2015-05-24 12:07] salmaM opened #220 "Error: [liferay-csgf] Enable secure admin"
Hi,

While installing SG on my VM, I had an error in "Enable secure admin".

The error message -with verbose 4- as follow:
--------------------------------------
TASK: [liferay-csgf | Start the Liferay Domain] *******************************
skipping: [192.168.195.132]

TASK: [liferay-csgf | Enable secure admin] ************************************
<192.168.195.132> ESTABLISH CONNECTION FOR USER:

[2015-05-25 11:25] MohamedFattah commented on #201
Hi Abdelrahman-Hasan,

How you re-installed the file “iferay-csgf.yml” ???

[2015-05-26 14:02] brucellino commented on #220
thanks for reporting this. We will take a look and try to reproduce the problem.

[2015-05-28 13:34] brucellino commented on #218
I've asked this question on ServerFault : http://serverfault.com/questions/691750/what-does-the-ldapadd-error-additional-info-objectclass-value-3-invalid-per

The first answer seems to be that this is simply a syntax error, however, I'm not sure what's generating it.

[2015-05-28 16:30] brucellino commented on #216
To summarise what we said today during the meeting, this issue is generated by a glassfish server already running.

Could you please do a

[code]

and let us know what it shows ?

[2015-05-28 16:30] brucellino commented on #215
Hi @magfathy - were you able to get around this ? Please let us know.

[2015-05-28 21:23] magfathy commented on #215
Hi @brucellino
yes, we set the needs_certificate variable and fix the error. Thanks

[2015-05-29 07:57] brucellino commented on #215
ok, great. I'm going to close this then :)

**Solution**: set `needs_certificate` in the host_vars or inventory.

[2015-05-29 07:57] #215 closed

[2015-05-31 08:54] MohamedFattah commented on #216
It showed the following:

[root@ansible-controller Ansible]# asadmin list-domains
Traceback (most recent call last):
  File "/usr/bin/asadmin", line 260, in <module>
    autoscale = boto.connect_autoscale()
  File "/usr/lib/python2.6/site-packages/boto/__init__.py", line 197, in connect_autoscale
    **kwargs)
  File "/usr/lib/python2.6/site-packages/boto/ec2/autoscale/__init__.py", line 124, in _

[2015-06-01 11:38] brucellino commented on #216
I've never seen this before - I think there are some things a bit off here.

  1. It seems like you're running `./asadmin` on the controller machine. If this is the _same_ as the science-gateway, that's ok - please confirm.
  1. This looks like you're getting a python error, but `asadmin` is a script to control the glassfish server. Are you sure you're running the right command. It should be `/pat

[2015-06-01 11:45] MohamedFattah commented on #216
We have got the same error when we executed on this path:

/path/to/glassfish/bin/asadmin

[2015-06-01 12:26] brucellino commented on #216
Hi @MohamedFattah ! Sorry, I should have been a bit clearer -

`/path/to/glassfish/bin/asadmin` is a placeholder for the actual `asadmin` path. Since you can specify where you want to install glassfish, I used a generic path (`/path/to/glassfish`).

If you used the defaults this path should be :

`/opt/glassfish/glassfish3/bin/asadmin`

[2015-06-01 12:43] MohamedFattah commented on #216
yes, we used
/opt/glassfish/glassfish3/bin/asadmin

[2015-06-02 09:47] MohamedFattah commented on #216
"New status"

After some trying, the previous error has been solved, but the following error has been appeared:
//-----
TASK: [liferay-csgf | Start the Liferay Domain] *******************************

failed: [vm01.mucsat.sci.eg] => {"ansible_job_id": "392420146105.16093", "changed": true, "cmd": "./asadmin --interactive false --passwordfile /home/liferayadmin/passwordfile --user liferayadmin star

[2015-06-03 07:20] brucellino commented on #216
Yes, this is a known issue - we haven't yet implemented the clean shutdown and check of the glassfish server. Just kill the process by hand (`ps aux | grep java`) and re-run starting at the "Start the Liferay Domain" task. In the meantime, I'm going to close this ticket.

# Solution
There was a glassfish instance running. It was killed by hand and the playbook was re-run.

[2015-06-03 07:20] #216 closed

[2015-06-03 09:47] #152 closed

[2015-06-03 09:47] #161 closed

[2015-06-03 09:47] #162 closed

[2015-06-03 09:47] #166 closed

[2015-06-04 10:21] brucellino commented on #122
I have just checked this this morning, seems fine.

[2015-06-04 10:41] brucellino commented on #122
# Solution

_probably_ a firewall change.

[2015-06-04 10:41] #122 closed

[2015-06-04 11:32] brucellino opened #221 "DiscourseSSO Apache config"
This is the ticket to track the DiscourseSSO apache config.

[2015-06-04 11:33] brucellino opened #222 "Shibboleth SP for Discourse"
This is the ticket for the Discourse Shibboleth SP configuration.

[2015-06-08 05:32] brucellino commented on #153
This was solved in a previous ticket by the team from Egypt.

[2015-06-08 05:32] #153 closed

[2015-06-09 10:10] salmaM commented on #220
Dear Bruce,

We are sill waiting your reply for this issue.
Is there any progress?

Thanks in advance,
Salma Mohamed

[2015-06-09 16:26] brucellino commented on #220
hi @salmaM - we haven't had time to reproduce the issue. Please do the follwing -

  1. ensure that there is no glassfish server running. if there is, then kill it.
  1. re-run the playbook entirely
  1. check if java is running on the host `ps aux | grep  java`
  1. If not, run the playbook again, starting at the ***last task which failed*** (use `--start-at=" "`)

[2015-06-15 13:59] brucellino opened #226 "epel repos metadata not configured properly by default."
A new run of the `common` role is giving the following error :
[code]
The epel repo is by default configured as
[code]

The baseurl should get overwritten by the task `change the repos to use the local ones` which did indeed get executed... but the result is not exactly what we want :-/

[2015-06-15 14:13] damas opened #227 "Error on running ansible-playbook"
Dear all,
I am trying to pull changes and re-run the playbook but I am getting an error:

Run a pull;
[code]
Then, playbook;
[code]
Any assistant please.

Rgds,
Damas

[2015-06-15 14:15] brucellino commented on #227
Thanks @damas !
First things first -  please confirm your Ansible version. It should be 1.9 or higher.
Secondly, re-run with verboseness (`-vvv`) and post the output.

[2015-06-16 06:32] damas commented on #227
@Bruce,

Damass-MacBook-Pro:Ansible dmakweba$ ansible --version
ansible 1.9

Damass-MacBook-Pro:Ansible dmakweba$ ansible-playbook -i inventories/inventory.dit.ac.tz idp-ldap.yml -vvv
ERROR: command is not a legal parameter in an Ansible task or handler

Damass-MacBook-Pro:Ansible dmakweba$ ansible-playbook -vvv -i inventories/inventory.dit.ac.tz idp-ldap.yml
ERROR: command is not a legal paramete

[2015-06-16 09:50] GhadaFathy opened #228 "required steps to add certificate"
we got a certificate, and need to add it to idp ,science_getway , ldap servers
 what are the steps we need to do that

[2015-06-16 09:58] brucellino commented on #228
Hi @GhadaFathy great news :)

Since there are 3 different hosts here, I would appreciate  it if you could open a separate ticket for each of them if need be. This could however be answered generically-

all the services are created using self-signed certificates. You simply need to replace the certificates and the trust anchors from the CA. If this is not sufficient, then we could write a brief se

[2015-06-16 10:23] GhadaFathy opened #229 "required steps to add certificate to idp"
We got a certificate, and need to add it to idp in yml files

what are the steps we need to do that

[2015-06-16 12:11] salmaM commented on #220
Hi Bruce,

1- I checked glassfish servers and no one running by command list-domains - the O/P of command is:

domain1 not running
liferay not running
Command list-domains executed successfully.

2- After that i rerun playbook BUT I had the same error.
3- There is no java is running on the host.

4- I run playbook again as following:
ansible-playbook -i /home/ansible/example/inventory.identity.dev

[2015-06-16 13:13] brucellino commented on #226
This was closed by 2bc8512a10e8a7b1f9631b5c59b60c691e0c2ff3

[2015-06-16 13:13] #226 closed

[2015-06-16 13:18] brucellino commented on #227
@damas This seems to be a common problem when the ansible build is corrupt or when older libraries are loaded by mistake. Are you using ansible from a git checkout ? If so, run `sudo python setup.py install` again then log out and in again to get a clean shell. Just confirm whether this solves the problem.

[2015-06-16 16:22] brucellino commented on #227
Hi @damas - seems like this comes from using the `stable1.9` version of Ansible - I got similar errors just now. If you are using the git clone, just check out the version `release1.8.4` and install that (using `sudo python setup.py install`. This should solve the problem.

[2015-06-16 16:22] #227 closed

[2015-06-16 18:52] brucellino commented on #220
Hi Salma,

This seems to be an error in our task logic. The Liferay domain start task just before the one that fails is being skipped :

[code]

Can you start the liferay domain by hand please and then re-run starting at the `"Enable secure admin"` task ?

`asadmin start-domain liferay`
Thanks,
Bruce

[2015-06-17 19:42] brucellino commented on #165
These have apparently been solved with updates of ARGUS.

[2015-06-17 19:42] #165 closed

[2015-06-17 19:44] brucellino commented on #197
This was due to the fact that the host vars (facts) of the worker nodes were not collected during the run. This has been fixed in recent commits, by adding a dummy play against this group (the worker-nodes)

[2015-06-17 19:44] #197 closed

[2015-06-17 19:49] brucellino commented on #41
This has been fixed by collecting the WN facts before executing the play

[2015-06-17 19:49] #41 closed

[2015-06-17 19:50] brucellino commented on #23
I haven't been able to reproduce this - the service is working after necessary tweaks, so I'm closing it.

[2015-06-17 19:50] #23 closed

[2015-06-17 22:30] brucellino commented on #142
This has been fixed by a prior commit.

[2015-06-17 22:30] #142 closed

[2015-06-17 22:38] brucellino commented on #195
I just ran into this same issue now. The fix has been applied in f99fab2

[2015-06-17 22:38] #195 closed

[2015-06-18 09:30] salmaM commented on #220
Hi Bruce,

I started liferay manually by this step:
----------------------------------
[root@SG ~]# /opt/glassfish/glassfish3/bin/asadmin start-domain liferay
Enter master password (3) attempt(s) remain)>
Waiting for liferay to start .........
Successfully started the domain : liferay
domain  Location: /opt/glassfish/glassfish3/glassfish/domains/liferay
Log File: /opt/glassfish/glassfish3/glassfis

[2015-06-21 11:34] MohamedFattah opened #230 "Retrieve ldap server configuration Error"
Hi all,

We got the following error while executing Ldap command:
ansible-playbook -i inventories/inventory.mucsat.sci.eg idp-ldap.yml -v -vvvv --ask-vault-pass

Error:
failed: [ldap.iricloud.net] => {"changed": false, "cmd": "ldapsearch -Y EXTERNAL -H ldapi:/// -b cn=config", "failed": true, "rc": 2}
msg: [Errno 2] No such file or directory

FATAL: all hosts have already failed -- aborting

PLAY

[2015-06-23 05:33] qasims opened #231 "SSH Error: Permission denied (publickey,password)."
I am trying to run simple ping (ansible -m ping all) and getting following errors. Please help me what is the problem. I also tried with hostname (www.example.com) but same result.

<44.140.63.5> ESTABLISH CONNECTION FOR USER: qasim
<44.140.63.5> REMOTE_MODULE ping
<44.140.63.5> EXEC ssh -C -tt -vvv -o ControlMaster=auto -o ControlPersist=60s -o ControlPath="/home/qasim/.ansible/cp/ansible-ssh-%h-

[2015-06-23 07:29] brucellino commented on #231
hi @qasims

this is an error with the Ansible syntax - unless you have passwordless ssh set up, you need to provide a password, and specify that Ansible should ask for it, with the `-k` flag. Of course, you will get an error with `www.example.com` since there is no such host :wink:

If you have the hosts in the inventory up and running, you should specify their passwords either in the host variabl

[2015-06-23 07:29] #231 closed

[2015-06-23 07:31] brucellino commented on #230
hi @MohamedFattah Thanks for the report. I can't tell which task this is failing on - please provide the full play output.

thanks !

[2015-06-23 07:38] brucellino commented on #220
Hi @salmaM  Thanks for reporting this. I can't diagnose this problem at this time; I will assign it to @fmarco76.

If you could please try to find some references on the web for the error `injection failed` and let us know, that would perhaps help to speed up diagnosis of the issue. This looks like some kind of syntax issue when interacting with glassfish, which _should_ not happen with these play

[2015-06-23 07:40] brucellino commented on #229
The certificate just needs to be swapped out with the self-signed one that is generated. This can only be done manually, since the playbooks can't assume that you have the certificate when you run them.

We don't have detailed instructions yet, but will write some soon. @fmarco76 can provide some input on where to put the certificate and what format it should be in.

[2015-06-23 07:41] #196 closed

[2015-06-23 07:42] brucellino commented on #171
Hi  @okoliec  I'm just following up on old tickets - have you managed to solve this ?

[2015-06-23 07:43] brucellino commented on #206
The are in `Ansible/roles/ldap/files/etc/openldap/slapd.d/orgs.ldif`

[2015-06-23 07:43] #206 closed

[2015-06-23 07:44] brucellino commented on #71
Testing has been done. There are some issues with the NFS and pbs worker node configurations.

[2015-06-23 07:44] brucellino commented on #63
This has been fixed in previous commits. The error was with the format of the hostvars lookup - it should have been using groups.

[2015-06-23 07:44] #63 closed

[2015-06-23 07:45] brucellino commented on #61
Tested in previous commits.

[2015-06-23 07:45] #61 closed

[2015-06-23 07:46] brucellino commented on #60
We can close this now - the WMS only has the firewall configuration to be set and the issue with the mysql root password that is not updated.

[2015-06-23 07:46] #60 closed

[2015-06-23 08:18] MohamedFattah commented on #230
[root@ansible-controller Ansible]# ansible-playbook -i inventories/inventory.mucsat.sci.eg idp-ldap.yml -v -vvvv --ask-vault-pass
Vault password:

PLAY [Configure the LDAP machine] *********************************************

GATHERING FACTS ***************************************************************
<ldap.iricloud.net> ESTABLISH CONNECTION FOR USER: ansible on PORT 22 TO ldap.iricloud.net
<

[2015-06-23 08:36] brucellino commented on #230
Ok, it seems like there is no `cn=config` branch of the ldap server. I assume that this is a brand new install, right ? Can you please confirm the OS version ?

The LDAP tree looks ok from an unauthenticated view, but it may be that the configuration for your OS version is stored in a different path.

[2015-06-23 08:53] MohamedFattah commented on #230
[ansible@ldap ~]$ cat /etc/centos-release
CentOS release 6.6 (Final)

[2015-06-23 09:06] fmarco76 opened #232 "IdP certificate could be provided in the script"
Currently the installation of the IdP will generate a self-signed certificate for the security of the messages and the channel. Should be possible to provide/update the certificate with a certificate provided by a real CA

[2015-06-23 09:07] fmarco76 opened #233 "LDAP certificate could be provided in the script"
Currently the installation of the LDAP will generate a self-signed certificate for the security of the messages and the channel. Should be possible to provide/update the certificate with a certificate provided by a real CA

[2015-06-23 09:08] fmarco76 opened #234 "Shibboleth SP certificate could be provided in the script"
Currently the installation of the Shibboleth SP will generate a self-signed certificate for the security of the messages and the channel. Should be possible to provide/update the certificate with a certificate provided by a real CA

[2015-06-23 09:11] brucellino commented on #233
looks like a dupe of #232

[2015-06-23 09:11] brucellino commented on #234
looks like a dupe of #232

[2015-06-23 09:18] brucellino commented on #234
oops - different issue for different role. Sorry !

[2015-06-23 09:18] brucellino commented on #233
oops - different issue for different role. Sorry !

[2015-06-23 09:55] WaelSAfifi commented on #218
Dear Bruce,

Is there any updates about this issue?

I changed the idp machine from being on the same Ansible machine (running with CentOS-7) to a separate machine running with CentOS-6 as tested and preferred by your side, but we got the same error when we execute the IdP-LDAP playbook command.

[2015-06-24 21:25] brucellino opened #235 "Error when registering new user to IdPOpen"
On a recent deploy, I got the following error :

[code]

This seems to be a hibernate issue, which I think I've encountered before. The full error is below.

[code]

[2015-06-24 21:30] brucellino commented on #235
Looks like this is a credentials issue.

[2015-06-24 22:20] brucellino commented on #235
Seems like the war was not rebuilt (this is confirmed by the play task being "ok".

I removed the old WARs and the problem was resolved. We need to add a check or force or something on rebuilding and redeploying the WARs. Some consistency check needs to be done.

[2015-06-24 22:20] #235 closed

[2015-06-28 10:24] qasims opened #236 "Do I need root password for ansible?"
I am sudo user but most of  setting on this repo has root as user. when I run bootstrap.yml with sudo user I get authenticated successfully but it try to install some module but give permission errors on /var/lib/dpkg/ . Do I need root user for ansible?

![image](https://cloud.githubusercontent.com/assets/3830639/8395990/155111c4-1d92-11e5-8c9f-150221fcbf74.png)

[2015-06-28 10:26] brucellino commented on #236
hi @qasims - in general, bootstrap tasks run as root, since we assume that there are no other users on the target host and so we have to create them and configure them. To answer your specific problem, please post the output of the play and highlight task that fails. Any changes that you may have made to the playbook would be useful too :)
thanks

[2015-06-28 10:36] qasims commented on #236
Please screenshot above.
One more question I am little confuse, when I run idp-ldap.yml will it install shiboleth idp and tomcat and other stuff itself?

[2015-06-28 10:43] brucellino commented on #236
Ok thanks. This _should_ not be happening since all commands should be run as root. Can you confirm for me which user you're connecting as ? Use `ansible-playbook <usual stuff> -vvvv`

Typically, you shouldn't run `ansible-playbook` with sudo - this will confuse the user definitions which we have in the playbooks - but connect to the remote machine as root, putting in the root password.

Also, it

[2015-06-28 11:08] qasims commented on #236
It is me as sudo (qasim) as I don't have root user password.

[2015-06-28 11:20] brucellino commented on #236
ok - as I mentioned before, please use the `-vvvv` option, so we can see which user ansible is connecting as.

[2015-06-28 11:28] qasims commented on #236
PLAY [bootstrap the machines] *************************************************

GATHERING FACTS ***************************************************************
<idp.se.ampr.org> ESTABLISH CONNECTION FOR USER: qasim
<idp.se.ampr.org> REMOTE_MODULE setup
<idp.se.ampr.org> EXEC ssh -C -tt -vvv -o ControlMaster=auto -o ControlPersist=6

[2015-06-29 07:30] brucellino commented on #236
hi @qasims -

Two things

  1. Please use markdown when submitting tickets, instead of plain text (see, [Contributing](../blob/master/CONTRIBUTING.md#use-markdown-as-it-was-intended) - this makes it easier for us to read the output :)
  1. As I suspected, ansible is connecting as the user `qasims`. You're executing Ansible as root, but it still reads your default user connection as `qasims`, eithe

[2015-06-29 07:30] #236 closed

[2015-06-29 14:16] brucellino opened #237 "Compilation failed in IDPOpen play"
In the `Compile the code` task of the `shibboleth-idp` role, I'm getting the following compile error :

[code]

This seems like there is a compiler path missing.

[2015-06-29 14:19] fmarco76 commented on #237
To compile the code the classpath has to include the libraries provided by the application server (i.e. tomcat). In the past this was the case. Did you change some paths and/or other?

[2015-06-29 14:25] brucellino commented on #237
I tried to get smart with the regexp:
[code]

That was supposed to match only all of the j2ee.server.home instances anre replace them with tomcat_libs_classpath.stdout, but it didn't work. This is what it looks like :

[code]

Can you confirm for me what it's supposed to be ?

[2015-07-01 04:46] brucellino commented on #230
@MohamedFattah Can you please let me know what's under `/etc/openldap/slapd` on your ldap machine  ?
We properly configured machines should have something like :

[code]

[2015-07-01 05:03] brucellino commented on #218
Hi @WaelSAfifi sorry for the delay. I have not been able to reproduce this error which leads me to believe that there is some difference between the openldap versions on your machine and ours, which has changed the slapd configuration.

Can you show me what's in `/etc/openldap` and `/etc/openldap/slapd.conf`. You should have something like

[code]
and
[code]

can you confirm please ?

[2015-07-01 05:16] brucellino commented on #232
I have implemented (but not committed) this to the shibboleth-idp role. Basically, the tasks are the following :

  1. Check if there is a commercially-issued host certificate (a check on the host name of the idp is done)
  1. If there is, check that the CN is correct
  1. If it is, create a p12 locally and push that to the idp, along with the cert and private key
  1. Add the p12 to the java keys

[2015-07-01 05:18] brucellino commented on #229
This has been implemented, but not not yet committed. See #232. I just need to clean the code and protect the passwords. Should be done in a few days.

[2015-07-01 05:19] brucellino commented on #228
Closing this since there are specific tickets open for individual hosts.

[2015-07-01 05:19] #228 closed

[2015-07-01 05:45] brucellino commented on #171
Closing this after a week of no response. If the issue arises again, please open another ticket.

[2015-07-01 05:45] #171 closed

[2015-07-01 05:53] brucellino commented on #181
Haven't been able to reproduce this so closing it.

[2015-07-01 05:53] #181 closed

[2015-07-01 06:10] brucellino commented on #208
Hi @Abdelrahman-Hasan - can you tell me why you think this was caused by a communication error between the idp and the ldap ? Check your login.config file on the idp server to see if it's correct. It's generated from a template in the shibboleth-idp role.

[2015-07-01 06:11] brucellino commented on #207
I've run this play a couple of times on the SAGrid services and the link seems to be correct. I'm closing this invalid

[2015-07-01 06:11] #207 closed

[2015-07-01 06:13] brucellino commented on #203
Hi @Abdelrahman-Hasan

Sorry to take so take so long. There was a missing sudo in the handler.

[2015-07-01 06:13] #203 closed

[2015-07-01 09:17] qasims commented on #236
I tried same command with -u root same result nothing changed same error.

[2015-07-01 10:49] qasims opened #238 "A vault password must be specified to decrypt."
When I run following command I get error. I already specified vault password file exist in group_vars created by ansible-vault command still it giving error.

[code]
Below is idp-ldap.yml
[code]

[2015-07-01 10:52] brucellino commented on #238
Hi @qasims you need to specify the `--ask-vault-pass` at run time. It will give you a prompt and you can put in the vault password that you used to encrypt `group_vars/passwords-ssa.yml`. Let me know if that works

[2015-07-01 11:09] qasims commented on #238
Still problem: Missing become password

[code]

[2015-07-01 11:17] brucellino commented on #238
Hi @qasims
I am closing this ticket, since the original issue has been resolved. Please open a new issue with the subsequent problem. Thanks !

[2015-07-01 11:17] #238 closed

[2015-07-01 11:45] qasims opened #239 "Missing become password"
I am running following command can you please see what is the problem.
[code]

[2015-07-01 12:23] brucellino commented on #239
hi @qasims

Can you check what's in your ansible.cfg under  `ask_sudo_pass`
See
http://serverfault.com/questions/690644/what-does-localhost-failed-missing-become-password-mean-how-do-i-get-pas/690651#690651

[2015-07-01 15:35] #239 closed

[2015-07-01 15:36] brucellino commented on #239
hi @qasims - thanks for closing the ticket :) can you please confirm what the solution was for future reference ?
Thanks!

[2015-07-02 05:41] qasims commented on #239
Yes it  was same issue as you mentioned above I uncommented ask_sudo_passin ansible.cfg started working.

[2015-07-02 10:06] MohamedFattah commented on #230
[root@ldap ~]# ls /etc/openldap/slapd.d/cn\=config
cn=module{0}.ldif  cn=schema.ldif              olcDatabase={-1}frontend.ldif  olcDatabase={2}bdb
cn=schema          olcDatabase={0}config.ldif  olcDatabase={1}monitor.ldif    olcDatabase={2}bdb.ldif

[2015-07-02 11:18] qasims opened #240 "ERROR: (item=slapd,ldap-utils) => {"failed": true, "item": "slapd,ldap-utils"} stderr: E: dpkg was interrupted"
I am running following command can you please see what is the problem. I found one old issue talking something similar but didn't get what was the problem.
[code]

[2015-07-02 11:21] brucellino commented on #240
hi @qasims - this looks like something you have to fix once-off on the machine. Perhaps a running upgrade or installation was aborted and dpkg got into a broken state, which happens.

You can do this by hand on the machine `sudo dpkg --configure -a` or using and ad-hoc ansible command

`ansible -m command -a 'dpkg --configure -a' -u root -k`

[2015-07-02 11:39] qasims commented on #240
This is the following after your about comments.

[code]

[2015-07-02 11:53] brucellino commented on #240
Hi @qasims As usual, I'll close this since we've solved the reported problem - please open another ticket to describe the further issue, as suggested in [the contributor guidelines](https://github.com/AAROC/DevOps/blob/master/CONTRIBUTING.md#opening-issues) thanks !

[2015-07-02 11:53] #240 closed

[2015-07-02 11:58] qasims opened #241 "ERROR: stderr: SASL/EXTERNAL authentication started SASL username: gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth"
I am running following and getting an error.
[code]

[2015-07-02 12:02] brucellino commented on #241
Please check that the remote file `/tmp/db.ldif` has been templated correctly. This is a commonly-reported error and the cause is usually that the root password is either incorrect or not set.

You should have something in `ldap:///tmp/db.ldif` similar to :

[code]

[2015-07-02 12:15] qasims commented on #241
It is 100% same as you mentioned above. So what is the issue?

[2015-07-02 12:20] brucellino commented on #241
Ah ! to be honest, I don't know, sorry :disappointed: If it's not a missing password or incorrect one, then I can't help you. I'll assign this to @fmarco76 who has better knowledge of ldap than me. In the meantime, if you could help out by looking on StackExchange or other parts for similar errors and their suggested solutions, that would really help !

[2015-07-03 09:17] fmarco76 commented on #241
The error is about the syntax. Can you post the file you have in `/tmp/db.ldif` file in the LDAP machine?  Do not remove the password but change it after for security reasons.

[2015-07-03 09:26] qasims commented on #241
[code]

[2015-07-03 09:32] fmarco76 commented on #241
The password is not there.

You miss some variable in your configuration. In more detail the variable root_password is not defined.

[2015-07-03 09:32] #241 closed

[2015-07-03 09:35] qasims commented on #241
Yes password is not there. Where I can define that variable? in the same file or somewhere else?

[2015-07-03 16:38] qasims commented on #241
@brucellino
I found this old issue reported by you. https://github.com/AAROC/DevOps/issues/156 I didn't get where to specify root password?

[2015-07-04 07:38] qasims commented on #241
Thanks guys for pointing me to right direction. I fixed the password in /etc/ansible/roles/ldap/vars/main.yml and it went well.

[2015-07-04 14:21] qasims opened #242 "ERROR: problems making Certificate Request 140087075284640:error:0D07A097:asn1 encoding routines:ASN1_mbstring_ncopy:string too long:a_mbstr.c:154:maxsize=2"
Any idea where is this file which is having big string?

[code]

[2015-07-08 11:44] okoliec opened #243 "ERROR: multiple actions specified in task: 'service' and 'Restart tomcat'"
@brucellino

Just started a new deployment as discussed. I have setup both servers and this is the output of the first ansible-playbook report

[code]
When i attempted loading the idp-ldap.yml playbook. I got this error

[code]

Any clues
thanks

[2015-07-08 14:35] brucellino commented on #243
hi @okoliec
Thanks for reporting this. Can you please confirm that you are on the `dev` branch ? Which commit are you on ?
Also, which version of Ansible are you using ?

[2015-07-08 14:40] okoliec commented on #243
hello @brucellino

Yes am on the dev branch.

I started off from a fresh by running this
rm -rf DevOps
git clone https://github.com/AAROC/DevOps
cd DevOps
git checkout dev

Ansible version= Version: 1.8.4-1ppa~trusty

[2015-07-08 14:45] brucellino commented on #243
Ok thanks. I'll try to reproduce this. I have a suspicion that your version of Ansible is too old. We are developing for 1.9-stable . If you want to check in the meantime, please follow the install procedure :

http://docs.ansible.com/intro_installation.html#running-from-source

[2015-07-08 14:53] okoliec commented on #243
I will check the link and upgrade. But will checking i commented out this line and the error disappeared. Not sure why

root@ansible:~/DevOps/Ansible# vi roles/fmarco76.IDPPublic/tasks/install.yml
- name: Restart tomcat
  sudo: yes
  #service: name={{ tomcat6_service }}  state=restarted
  #when: tomcat_root_change.changed
  wait_for:
    port: 8443

[2015-07-08 14:54] brucellino commented on #243
ah... Thanks, this explains a lot. Keep that commented ; I'll submit a patch in a bit.

[2015-07-08 16:42] okoliec opened #244 "IDopen admin user error"
Hello @brucellino,
I have completed install of idp-ldap on my system (https://idp.unilag.edu.ng:8443/login.action).  I can login with the initial user i added but i am unable to login with the useradmin that has privileges to approve registered users. I don't know if am using the wrong user name. But i confirmed from the output of ldap.

Pls can I solve this problem.
root@ldapnew:~# ldapsearch -x

[2015-07-09 15:19] qasims commented on #242
Fixed by fixing variables under group_vars/identity-host_name was some space with countryName variable.

[2015-07-09 15:19] #242 closed

[2015-07-10 09:50] qasims opened #245 "msg: chown failed: failed to look up user ansible"
Any idea what can be the problem?
[code]

[2015-07-12 12:30] qasims commented on #245
solution: create sudo user ansible or change directory owner to root or sudo user in /etc/ansible/roles/shibboleth-idp/tasks/install.yml

[2015-07-12 12:30] #245 closed

[2015-07-13 11:37] qasims opened #246 "SE-AMPR | msg: Destination /opt/shibboleth-idp/metadata/idp-metadata.xml does not exist"
How to create this idp-metadata.xml file? I saw file is not on the destination. Please below TASK: [shibboleth-idp | Org stanza]

[code]

[2015-07-14 16:38] okoliec commented on #244
@brucellino..
Am still stocked here. Any clues on how to proceed.

Cheers

[2015-07-24 11:25] brucellino opened #250 "Error when installing IGTF certs on WN role"
When executing the `worker-node.yml` playbook, in the `common` role, an error is reported. Seems like missing variables, likely cause is a var file not loaded.

The error reported is :

[code]

[2015-07-24 11:36] brucellino commented on #250
closed by 4af1f64116adcb1dacbb9d7b2184930ce347cca1

[2015-07-24 11:36] #250 closed

[2015-07-24 11:43] brucellino opened #251 "Task Error (WN)"
Task failed on Munge key distribution:

[code]
The task is :

[code]

[2015-07-24 12:01] brucellino commented on #251
Diagnosis - permission on the source file `/etc/munge/munge.key` means that the user executing the play (`ansible`) cannot actually access the file, so it thinks it's not there. See e.g. https://github.com/ansible/ansible/issues/2303. Need to fix this in the CREAM-CE play.

[2015-07-24 12:22] brucellino opened #252 "Task Error (head-node)"
There seems to be a typo in the task -

[code]
rpcbin --> rpcbind

[2015-07-24 12:24] #252 closed

[2015-07-24 12:25] brucellino commented on #251
Fixed by afeff5b6d56be31bff332934cf74e5a950616069

[2015-07-24 12:25] #251 closed

[2015-07-24 14:09] brucellino opened #254 "Not-idempotent (head-node) firewall config"
The firewall config tasks are not idempotent :

[code]

They are changed on every run.

[2015-07-24 18:30] okoliec opened #255 "error while evaluating conditional: ansible_os_family=="Debian""
I started a new install and this is the error i received
[code]

[2015-07-27 09:37] brucellino commented on #255
I can't see the inventory that you're using in the repo - I suspect that there's a problem with the groups. The network tasks are all being skipped, so some of the variables needed are not being set, which is why the logic is failing. Please commit your inventory file to the repo and check that it has groups for the machines based on operating system type.

e.g  :
[code]

[2015-07-27 09:55] okoliec commented on #255
@brucellino:, below is my inventory file
root@ansible:~/DevOps/Ansible# less inventories/inventory.UNILAG
# UNILAG Inventory
[ldap-servers]
ldapnew.unilag.edu.ng

[shibboleth-idps]
idp.unilag.edu.ng

[CentOS-servers:children]
#ldap-servers
shibboleth-idps

[Debian-servers]
#ldapnew.unilag.edu.ng
[identity-UNILAG:children]
ldap-servers
#shibboleth-idps

[2015-07-27 10:01] brucellino commented on #255
So, your shibboleth idp is a CentOS machine - but why is the ldap server not defined under either Debian or CentOS groups ?

[2015-07-27 10:12] okoliec commented on #255
Yes it is.
I commented it out because  i thought my error my coming from there. This is what i have now but am still getting the same error.

# UNILAG Inventory
[ldap-servers]
ldapnew.unilag.edu.ng

[shibboleth-idps]
idp.unilag.edu.ng

[CentOS-servers:children]
ldap-servers
shibboleth-idps

[Debian-servers]
ldapnew.unilag.edu.ng
[identity-UNILAG:children]
ldap-servers
shibboleth-idps

[2015-07-27 10:16] brucellino commented on #255
You have put your ldap server into both the CentOS and the Debian groups though - this is not possible. If it's a Debian machine, you should have
[code]

Likewise if it's a CentOS machine, you should have

[code]

[2015-07-27 10:21] okoliec commented on #255
idp.unilag.edu.ng=Centos Machine
ldapnew.unilag.edu.ng=Debian Machine

# UNILAG Inventory
[ldap-servers]
ldapnew.unilag.edu.ng

[shibboleth-idps]
idp.unilag.edu.ng

[CentOS-servers:children]
shibboleth-idps

[Debian-servers]
ldapnew.unilag.edu.ng
[identity-UNILAG:children]
ldap-servers

But am still getting the same error

[2015-07-27 10:35] brucellino commented on #255
Ok - one issue which should be fixed, but which is probbaly not causing your problem is this :

[code]

This should be :

[code]
since it is a group (Debian servers) of a group (ldap-servers).

Now, the task is failing because some variables are not set - I see that it's picking up your passwords variable file, which is good, but not the OS-related one.

[2015-07-27 10:48] okoliec commented on #255
Still getting the same error. See my inventory.UNILAG
# UNILAG Inventory
[ldap-servers]
ldapnew.unilag.edu.ng

[shibboleth-idps]
idp.unilag.edu.ng

[CentOS-servers:children]
shibboleth-idps

[Debian-servers:children]
ldap-servers

[2015-07-27 11:55] brucellino commented on #255
I think this is due to a `gather_facts: no` in the playbook. this was incorrectly committed and should be removed.

[2015-07-27 12:42] okoliec commented on #255
@brucellino: this seems to work now. But i still have another error with certificate. Can i proceed without the certificate
TASK: [shibboleth-idp | Debug subject] ****************************************
ok: [idp.unilag.edu.ng] => {
    "{{ subject.stdout | regex_replace('^.*N(.*)$' ) }}": "{{ subject.stdout | regex_replace('^.*N(.*)$' ) }}"
}

TASK: [shibboleth-idp | debug CA certs] *************

[2015-07-27 12:43] brucellino commented on #255
Hi @okoliec - good to hear. To stick to to the contributor guidelines, I will close this issue. Can you please open a new one with the new error ?
thanks!

[2015-07-27 12:43] #255 closed

[2015-07-27 12:49] okoliec opened #256 "Push the intermediate and root cert: input file not found"
@brucellino
I encountered this error while running idp-ldap playbook.

root@ansible:~/DevOps/Ansible# ansible-playbook -i inventories/inventory.UNILAG idp-ldap.yml

TASK: [shibboleth-idp | extract the subject] **********************************
skipping: [idp.unilag.edu.ng]

TASK: [shibboleth-idp | Debug subject] ****************************************
ok: [idp.unilag.edu.ng] => {
    "{{ subject

[2015-07-27 12:52] brucellino commented on #256
ah I haven't committed those files yet :unamused:  - hold on. and I will commit them.

[2015-07-27 13:27] brucellino commented on #256
ok, the files are there, but the variable is missing: `cert_CA_certificate`
You should add the following to the group_vars of your site :
[code]

[2015-07-27 14:01] okoliec commented on #256
root@ansible:~/DevOps/Ansible# ansible-playbook -i inventories/inventory.UNILAG idp-ldap.yml

PLAY [Configure the LDAP machine] *********************************************

GATHERING FACTS ***************************************************************
ok: [ldapnew.unilag.edu.ng]
ldapnew.unilag.edu.ng: importing group_vars/passwords-UNILAG.yml

TASK: [fmarco76.firewall | Retrieve iptables rules]

[2015-07-27 19:09] okoliec opened #257 "[fmarco76.IDPPublic | Restart tomcat]"
I am doing a fresh install of idp-ldap using the idp-ldap playbook and below is the error i encountered.The installation started well until it got this point where it took several minutes before it stopped.

TASK: [fmarco76.IDPPublic | Copy the application into the webapps] ************
ok: [idp.unilag.edu.ng] => {"changed": false, "cmd": "cp /root/idpFrontEnd/IDPPublic-1.1.5/dist/IDPPublic.war /v

[2015-07-27 19:42] brucellino commented on #257
Hi
Ya sometimes we've seen this happen- while waiting for a fix, can you please start tomcat by hand and continue from the next step? Use `--skip-task=...` to skip that task.

[2015-07-30 09:32] okoliec commented on #244
Dear All,
I am wondering if anyone has come across this problem and managed to resolve it. I just reinstalled my idp-ldap and everything seems fine except that i am unable to login with the user created by ansible to manage users.
Below is the file that created the user and password but each time i tried to login with that username i get an invalid username or password. Please could someone confir

[2015-07-30 12:57] brucellino commented on #244
@okoliec check in the /tmp directory - there is an ldif created by Ansible with the credentials of the manager. If it looks ok, it should have the password in it, along with user name and other connection parameters. Try to connect via the web interface with that.

If that doesn't work there's probably a firewall issue.

[2015-07-30 18:18] okoliec commented on #244
@brucellino : I have checked. I can login with the test user.

I tried adding adding user from the command line. Although i can login with the new username and password but i noticed that account is locked. There is a link to re-active the account which when clicked on reports account successfully reactivated but on login on with that username the account still requests for reactivation.

I also a

[2015-08-03 15:17] fmarco76 commented on #244
The problem was with the UX. The IdP was almost working properly. The user @okoliec was not recognising the link to the page for the administration.

[2015-08-03 15:17] #244 closed

[2015-08-07 10:04] okoliec opened #259 "New user registration on IDPOPEN"
Dear All,

I just observed that the new IdP I installed returns this mail with the above subject.

I searched for the file and found it in this path. Since its a binary file can i make the changes to reflect the IdP.

WEB-INF/classes/it/infn/ct/security/actions/ConfirmRegistration.class

See body of the mail
comes with the above subject when
A new registration performed on IDPOPEN,

the user Bruce

[2015-08-07 10:09] brucellino commented on #259
Thanks @okoliec
these changes need to be made to the source code in the package (IDPOpen) , before it is compiled and the WAR deployed. We simply forgot to implement this in the playbook :blush: Will get on it soon.

[2015-08-07 10:23] fmarco76 commented on #259
Hi All,

I have just opened an issue in my source code for this: https://github.com/osct/IDPPublic/issues/7

It need some change in the source and after we can add the customisation here. Actually, I am not sure about the time to fix it (holiday period) so if you need to customise the mail then you can clone the repo https://github.com/AAROC/IDPPublic, modify, compile and replace the class file. I

[2015-08-07 10:24] brucellino commented on #259
Thanks @fmarco76 Putting this on hold until we get the PR from you.

[2015-08-31 14:50] smasoka opened #260 "Problem mounting CVMFS on worker nodes"
So i ran cvmfs playbook on my virtual machine and everything was installed and configured properly, But when I did the same on my worker nodes for ZA_CHPC, repo is not mounting.
Error:
`root@gnode-2-1:~ $ cvmfs_config probe`
`Probing /cvmfs/apprepo.sagrid.ac.za... Failed!`
and
`root@gnode-2-1:~ $ mount -t cvmfs devrepo.sagrid.ac.za /mnt/test`
`CernVM-FS: running with credentials 497:496`
`CernVM-F

[2015-09-01 10:28] brucellino commented on #260
Try run the cvmfs.ynl play book on the machines. Or check that the config is the same.

[2015-09-01 12:19] smasoka commented on #260
Yes, I ran the cvmfs.yml playbook on the worker nodes themselves.
The config looks the same plus the playbook hasn't been changed right?

[2015-09-01 13:12] brucellino commented on #260
there are no changes that I still need to commit, but check that you're using the dev branch.

FYI it's working on my laptop and meraka's dev site. Here's the config :

[code]

and

[code]

check your config and the proxy.

[2015-09-01 15:08] smasoka commented on #260
`cat /etc/cvmfs/default.local`
`CVMFS_REPOSITORIES=apprepo.sagrid.ac.za`
`CVMFS_SERVER_URL=http://apprepo.sagrid.ac.za`
`CVMFS_HTTP_PROXY=DIRECT`

and

` cat /etc/cvmfs/config.d/apprepo.sagrid.ac.za.conf`
`CVMFS_SERVER_URL=http://apprepo.sagrid.ac.za/cvmfs/apprepo.sagrid.ac.za`
`CVMFS_PUBLIC_KEY=/etc/cvmfs/keys/apprepo.sagrid.ac.za.pub`

`cat /etc/cvmfs/config.d/devrepo.sagrid.ac.za.conf`
`CVMFS_S

[2015-09-04 10:22] brucellino commented on #246
Hi @qasims sorry we seem to have missed this one. The error is due to a missing path, of course, but I need to check why that path is not created.

Also, it seems that the variables for your site are using the default ones. Can you remind me of your group_vars ?

[2015-09-09 05:30] qasims commented on #246
@brucellino

Here are files Debian-servers.yml, identty-ll.yml, password-ssa.yml which are same as in your repo.
Here is my changes in

identity-ssa-dip.yml

---
# institute metadata
site_name: SSA
host_institute:
  name: SSA
  url: http://www.ssa.se

# LDAP variables
server_country: SE
server_state:
server_location: Stockholm
server_organization: TTA
server_organization_unit: SSA
ldap_server: lda

[2015-09-09 09:48] okoliec opened #261 "it.infn.ct.security.actions.MailException: Mail message has problems"
@fmarco76
I just deployed the IdP for WACREN and the registration page seems to have a problem. https://openidp.wacren.net/register

The deployment was successful without any errors except that the registration page returns an error after a user completes the registration page and hit the register button. Please how can i fix this.
Below  is the error

HTTP Status 500 -

it.infn.ct.security.action

[2015-09-09 09:58] brucellino commented on #261
hi @okoliec - can you please tell us what branch you're using. (`git status`).I'm assigning this to @fmarco76. You can help a lot in the meantime, but trying to find a similar issue on StackOverflow and report here.

[2015-09-09 10:00] okoliec commented on #261
Hello @brucellino -
root@ansible:~/DevOps_WACREN/Ansible# git status
On branch dev
Your branch is ahead of 'origin/dev' by 4 commits.
  (use "git push" to publish your local commits)

[2015-09-09 10:03] brucellino commented on #261
hm. what are these 4 commits that you're ahead of us by ? Probably a red-herring, but perhaps might be important. I still think you should try to nail down what the error
[code]
means. The code in question is not in this repo, but in https://github.com/AAROC/IDPPublic so we might move this issue over  there.

[2015-09-09 10:15] okoliec commented on #261
Nothing really to worry about

	modified:   roles/fmarco76.IDPPublic/tasks/install.yml-- commented out the line preventing tomcat from restarting during installation
	modified:   roles/shibboleth-idp/vars/main.yml----Added the wacren federation metadata
	modified:   test.p12----not sure of this

[2015-09-09 10:16] brucellino commented on #261
ok, so we need to know from @fmarco76 which logs to check.

[2015-09-11 13:32] fmarco76 commented on #261
Hi @brucellino and @okoliec, I am not sure if the problem is with IDPPublic or DevOps. Could you search the error in tomcat logs and post here. From your first post there is not the full stacktrace.

You should find the error (or generate a new one) and see tomcat logs in /var/log/tomcat (I am not sure about the location). In the stack trace you should find someting like "Caused by .........." the

[2015-09-11 13:52] fmarco76 commented on #246
Hi @qasims, is the directory "/opt/shibboleth-idp/" created with an empty metadata folder or it does not exist at all?

[2015-09-11 14:05] qasims commented on #246
Hi @fmarco76 all path as you mentioned above and under that path metadata.yml is created.

[2015-09-11 15:26] okoliec commented on #261
@fmarco76 - looking at the logs again. This is all i see

Sep 11, 2015 2:39:01 PM org.apache.catalina.loader.WebappClassLoader clearThreadLocalMap
SEVERE: A web application created a ThreadLocal with key of type [null] (value [com.opensymphony.xwork2.inject.ContainerImpl$10@7e101230]) and a value of type [java.lang.Object[]] (value [[Ljava.lang.Object;@6159c8e3]) but failed to remove it when the w

[2015-09-14 14:04] qasims commented on #246
@brucellino @fmarco76 Guys any idea? I am behind in my IdP project.

[2015-09-21 09:52] brucellino opened #262 "SE-AMPR | Reproducing issues on dev site for AMPR"
I'm doing a test run with the AMPR variables to reproduce the functionality of the IDP and LDAP servers for the AMPR collaboration.

[2015-09-21 10:06] brucellino opened #263 "SE-AMPR | Inventory check for AMPR"
Ticket check and validate the inventory for the AMPR site.

[2015-09-21 10:07] brucellino opened #264 "SE-AMPR | Group variables check for AMPR"
Ticket to validate the variables of the AMPR (Sweden) site and cross-reference with the groups in the inventory

[2015-09-21 10:35] brucellino commented on #263
the inventory contains the gorup `identity-all` but the corresponding group for `identity-all` in the repo is the SAGrid site. So, the group name needs to be changed to correspond to the group vars.

[2015-09-21 10:56] brucellino opened #265 "SE-AMPR | Burn Down: 1"
Ticket describing execution 1 of the site burn down.
Using the  CT dev infrastructure, this is the ticket for isues related to the first burn down of the idp-ldap playbook trying to reproduce the AMPR site.

[2015-09-21 11:18] brucellino commented on #265
was missing the cert ca variable. Added it to the group vars for the site.

[2015-09-21 11:43] brucellino commented on #265
Second run showed a permissions error.

[2015-09-21 11:44] brucellino opened #266 "shibboleth-idp | Copy JKS generator script - permissions problem"
Error on the `shibboleth-idp | Copy JKS generator script task` -

[code]

[2015-09-21 11:52] #199 closed

[2015-09-21 11:53] brucellino commented on #208
Hello ! we are still waiting for a reply to this - can you comment please ?

[2015-09-21 11:55] #188 closed

[2015-09-21 11:57] #266 closed

[2015-09-21 12:02] brucellino opened #267 "TASK: fmarco76.IDPPublic | ensure that the ROOT directory exists"
Permission error on this task.

[2015-09-21 12:11] #267 closed

[2015-09-21 12:20] brucellino commented on #265
# Summary

The burn down continued from a previously-configured  machine. Some permission issues were resolved in the `dev` branch (#266, #267).

# Issues

The playbook seems to be running ok against the CentOS machines, except that the web interface is not working. This doesn't seem to be a tomcat issue, since the java instance is running. It's likely a certificate problem.

[2015-09-21 12:20] #265 closed

[2015-09-21 12:21] brucellino opened #268 "SE-AMPR | Burn Down 2"
Second burn down, from scratch on CT dev infrastructure.

[2015-09-21 12:49] brucellino commented on #268
burn down two ran without issue after a clean out of the machine. however, the connection to the web services is still not working. This may be a firewall issue or a problem with dangling configs.

-----

 ____________
< PLAY RECAP >
 ------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

vm03.ct.infn.it            :

[2015-09-21 13:00] brucellino commented on #268
After deleting the `tomcat6` config dir, and re-running the playbook we have the same behaviour - playbook runs to completion, no errors, but there is no connection to the service.

[2015-09-21 13:00] #268 closed

[2015-09-21 13:35] brucellino opened #269 "IDP-LDAP | Firewall configuration on preconfigured host prevents metadata exchange"
On a preconfigured host, when running the idp, there seems to be a problem parsing the firewall rules and putting new rules _before_ the REJECT rules.

[2015-09-21 13:38] brucellino opened #270 "SE-AMPR | Burn Down 3"
this burn down happens on the AMPR site locally.

[2015-09-21 13:49] brucellino commented on #270
First execution:
problem with the ldap password. installation aborted.

[2015-09-21 13:54] brucellino commented on #270
Second execution passwed ( used the clear password specified in the original inventory sent to me by @qasims).

now failing at :

[code]

See #271

[2015-09-21 13:55] brucellino opened #271 "shibboleth-idp | Create the shibboleth installation directory: chown problem."
During Burn Down 3
[code]

[2015-09-21 13:56] brucellino commented on #209
this is an issue with the `root_password_clear` variable. Set it correctly and it should be fine.

[2015-09-21 14:10] brucellino commented on #270
Third execution saw the test.p12 cert missing. It was not created, since the task was skipped.

[code]

[2015-09-21 15:49] fmarco76 commented on #261
The error is generated in this code:

https://github.com/AAROC/IDPPublic/blob/master/src/java/it/infn/ct/security/actions/AddUser.java#L352-L386

There are 4 methods that could generate the exception

The majority of the parameters in the mail come from the file struts.xml:

https://github.com/AAROC/IDPPublic/blob/master/src/java/struts.xml#L89-L115

It seems there is some thing wrong with this co

[2015-09-21 20:01] kodion commented on #261
Yes there was.   For some reason, the mail_contact variable was not updated
from the group_vars.    All is fine now.  We can close this issue.  thanks

On 21 September 2015 at 16:49, Marco Fargetta <notifications@github.com>
wrote:

[2015-09-22 07:18] #261 closed

[2015-09-22 10:01] brucellino commented on #263
Has been fixed on `dev`

[2015-11-10 14:42] brucellino commented on #246
I've just taken a look at this; it seems that the xml file is not created. I fact, most of the files necessary are not installed - `/opt/shibboleth-idp` is there, but the directories are empty.

The reason is that the install script actually dies...

[code]

[2015-11-10 14:48] brucellino commented on #246
ok, this was due to the fact that the hostname of the machine was not set to the name in the inventory. Setting the hostname results in fixing the problem. I'm going to add this to a pre-task in the role.

[2015-11-10 16:39] #246 closed

[2015-11-10 17:55] #270 closed

[2015-11-10 17:55] #263 closed

[2015-11-10 17:55] #264 closed

[2015-11-10 17:57] brucellino commented on #271
Fixed in 4a39d00

[2015-11-10 17:57] #271 closed

[2015-11-10 17:58] brucellino commented on #243
tests have passed now.

[2015-11-10 17:58] #243 closed

[2015-11-10 18:03] #237 closed

[2015-11-10 18:03] #262 closed

[2015-12-30 08:25] #230 closed

[2016-01-11 11:54] #208 closed

[2016-01-13 12:35] MohamedFattah opened #277 "Identity provider website error"
Dear All

We encountered this error while running idp-ldap playbook; idp website doesn't work, although the installation is finished successfully and also mete-data file is created:

TASK [Announce new IdP to the federation manager] ******************************
task path: /root/DevOps/Ansible/idp-ldap.yml:20
.
.
.
ok: [idp.iricloud.net.eg] => {"changed": false, "invocation": {"module_args": {"ch

[2016-01-13 12:54] brucellino commented on #277
hi @MohamedFattah thanks for reporting this. We usually see the announcements in the slack instance, so the announcement is working.

The link that is announced (https://idp.iricloud.net.eg/idp/shibboleth) is indeed not responding, so something is going wrong. Can you confirm your inventory and `group_variables` please - are they in the repo or modified privately ?

[2016-01-14 11:34] MohamedFattah commented on #277
hi @brucellino
Our group_variables (identity.iricloud) as the following:
---
# Certificate information
# #  which CA issued the certificate
cert_CA: EG-GRID
# # this is the list of the root and intermediate certificates of the CA
# # should probably give these keys names...
cert_CA_certificates:
  - EG-GRID.crt
#
# institute metadata
site_name: iricloud
host_institute:
  name: Informatics Research

[2016-01-27 11:37] MohamedFattah commented on #277
hi @brucellino
These are the logs files related to the problem for your reference.
[logs.txt](https://github.com/AAROC/DevOps/files/106517/logs.txt)

[2016-02-02 16:48] #127 closed

[2016-02-02 16:51] #164 closed

[2016-02-02 16:51] #193 closed

[2016-02-02 16:52] #209 closed

[2016-02-02 16:52] #211 closed

[2016-02-02 16:52] #217 closed

[2016-02-02 17:19] #168 closed

[2016-02-02 17:37] brucellino opened #286 "pbs_mom server name not set correctly"
the files
`/var/lib/torque/mom_priv/config` and `/var/lib/torque/server_name` are not set correctly on the worker nodes. This _should_ be done by yaim.

[2016-02-02 17:41] brucellino opened #287 "remove internal.net from resolv"
`internal.net` is the wrong dns name. it should be replaced with c4.csir.co.za in `/etc/resolv.conf`

[2016-02-02 17:48] brucellino opened #288 "munge key on wn no set"

[2016-02-03 11:49] MohamedFattah commented on #277
hi @brucellino
Do you need more information?.

[2016-02-03 17:38] brucellino commented on #260
I can't reproduce this - can you comment ? Else I'm going to close this and you can open a new ticket if it re-occurs.

[2016-02-03 17:41] brucellino opened #289 "Issue starting tomcat in idp play"
We are getting the following error in the catalina log when running the `idp-ldap.yml` playbook :

[code]

The directory is indeed not there, but the war is :

[code]
The question then is why is the war not being autodeployed ?

[2016-02-03 17:42] brucellino commented on #218
Hi

Any update on this issue ?

[2016-02-03 17:45] brucellino commented on #289
this was a permissions issue on the `webapps` directory.

[2016-02-15 09:00] MohamedFattah commented on #277
hi @brucellino
Any idea?

[2016-02-18 13:50] fmarco76 opened #291 "Using the new test approach in ansible"
With Ansible 2.x the role creation will generate a tests folder with a task and an inventory.
This should be integrated in the testing strategy of the role

[2016-02-20 12:01] qasims opened #293 "Destination directory /etc/yum.repos.d does not exist"
Hi, I am setting up fresh idp setup. While running bootstrap.yml I am getting this error. Please help me to fix it.

[code]

[2016-02-22 13:41] #221 closed

[2016-02-22 17:32] brucellino commented on #293
Hi @qasims ! There were a few conditionals left out of these tasks, thanks for reporting this. These tasks shouldn't have been executed (they should have been skipped), since the machine is defined as a Debian machine in your inventory.

[2016-02-22 17:37] #293 closed

[2016-02-22 21:45] qasims commented on #293
Thanks It worked!

[2016-02-22 21:50] qasims opened #297 "Command not found\niptables v1.4.21: Invalid rule number"
Hi, I am doing fresh installation of IdP when I run idp-ldap.yml I get following error.

[code]

[2016-02-29 08:40] qasims commented on #297
Any update?

[2016-02-29 08:52] MohamedFattah opened #298 "Liferay-mysql syntax error"
Dear All;
We are trying to install Science Gateway and this error has appeared, when we execute liferay-csgf.yml. any suggestion or help.
[code]

[2016-03-03 08:06] #298 closed

[2016-03-15 15:00] brucellino opened #307 "NTP task dies with async json error"
We are getting this error in the common role, particularly the ntp task :

[code]

[2016-03-15 15:05] brucellino commented on #307
This has been mentioned at https://github.com/ansible/ansible/issues/13965 and https://github.com/ansible/ansible/issues/7319 looks like it's a bug in 2.0. Will do an update of Ansible and see what happens.

[2016-04-14 08:36] brucellino commented on #235
discussed at http://discourse.sci-gaia.eu/t/ternet-idp-error/2001

[2016-04-14 12:47] brucellino commented on #307
This was reported as well at https://github.com/ansible/ansible/issues/15162 - apparently only for RHEL5, which we are seeing now on the nagios machie.

[2016-05-11 13:15] brucellino opened #320 "ARGUS site-info.def wrongly created."
The `argus.yml` file generates a file which has the ARGUS config ADMIN_DN set incorrectly (to John Doe).

[2016-05-11 13:17] brucellino opened #321 "CRL update task fails on ARGUS playbook"
The task `[argus : Update CRL]`  fails due to missing dependencies for fetch-crl.

[2016-05-11 13:20] brucellino commented on #321
Error is :
[code]

[2016-05-11 13:29] #321 closed

[2016-05-11 13:37] brucellino commented on #320
test has passed.

[2016-05-11 13:37] #320 closed

[2016-05-11 14:15] brucellino commented on #260
This has been fixed by @bazinski  at the site.

[2016-05-11 14:16] #260 closed

[2016-07-22 10:32] brucellino opened #331 "Test issue to see if the template works"
#  Issue type

  - [ ] Want to join as collaborator
  - [x] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem

# Issue description

Test issue to see if this works.

[2016-08-02 12:03] #331 closed

[2016-08-02 12:04] #59 closed

[2016-08-02 12:04] #58 closed

[2016-08-02 12:05] #218 closed

[2016-08-02 12:06] brucellino commented on #256
Hi

We dropped the ball on this one.  I'm closing this in the meantime, since it's obsolete.
Please open a new issue if the problem arises again.

[2016-08-02 12:06] #256 closed

[2016-08-02 12:11] brucellino commented on #152
This was a missing `{{ }} ` which has since been fixed.

[2016-08-02 12:11] brucellino commented on #114
obsolete with future gateway

[2016-08-02 12:11] #114 closed

[2016-08-02 15:48] #222 closed

[2016-08-02 15:48] #229 closed

[2016-08-02 15:49] #183 closed

[2016-08-02 15:58] brucellino commented on #277
Hi @MohamedFattah  I'm closing this issue since we have a new role for shibboleth v3.
Sorry for leaving it so long !

[2016-08-02 15:58] #277 closed

[2016-08-02 16:05] brucellino commented on #289
can't reproduce.

[2016-08-02 16:05] #289 closed

[2016-08-02 16:07] #269 closed

[2016-08-02 17:05] brucellino opened #332 "biomed VO config files"
#  Grid config

We need to have some configuration templates for biomed, for YAIM to deal with.

  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

# Issue description

In the yaim role, we should have some templates for the biomed vo. This means we need to have the correct vo configurat

[2016-08-02 17:06] brucellino commented on #332
See https://github.com/AAROC/chpctier2/issues/40 and tickets associated with that.

[2016-08-03 14:34] dmakweba opened #333 "TERNET IDP Cant login"
#  Issue type

TERNET IDP is having problem whereby we cant be able to login directly at https://idp.ternet.or.tz neither at other federated services like SG. The error type I found at the logs is about certificate as described below; unable to find valid certificate.....
[code]

How would you best describe your issue  ?

  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  -

[2016-08-03 14:49] brucellino commented on #333
Hi @dmakweba  thanks for reporting the issue. I've  updated the issue temmplate, since some info was missing in your submission. I'm going to close this and ask you to open a new one please.

Thanks !
Bruce

[2016-08-03 14:49] #333 closed

[2016-08-04 05:41] dmakweba opened #334 "TERNET IDP Cant login"
#  Issue type

You can't login direct to TERNET IDP at https://idp.ternet.or.tz with an error  invalid username or password is wrong, you cant also using it to access other federated services like SG or forum at sci-GaIA with an error Login has failed. Double-check your username and password.

How would you best describe your issue  ?

  - [x] Problem with one of the services
  - [ ] Ansible probl

[2016-08-04 09:34] brucellino commented on #334
Hi @dmakweba thanks for reporting the  @issue.

Please try to use the playbooks and keep your site information up to date in the repo, this will help us  to avoid mishaps and ensure that the services are working.

This certainly sounds like there is a problem with the certificate - more precisely the certificate chain.

If this is the case, you need to check that the certificate chain is properly

[2016-08-04 11:08] brucellino commented on #98
This issue was moved to http://discourse.sci-gaia.eu/t/define-manual-functional-tests-for-ldap-and-shibboleth-playbook/2232

[2016-08-04 11:08] #98 closed

[2016-08-04 15:01] fmarco76 commented on #334
Hi @dmakweba,

I am back at office (till tomorrow).
Do you still have the error? If yes, you have to see the full stack trace to identify the service url generating the problem, is that correct? Is the service specified in your configuration files?
If they are different try to restart tomcat and try again.

It seems you have a communication problem with a remote service but we need to understand w

[2016-08-04 15:10] brucellino commented on #334
thanks @fmarco76 for chiming in. @dmakweba if your log output is large, please put it in a gist and give us the link in your reply to this ticket. You can make a gist at https://gist.github.com/

[2016-08-07 12:49] dmakweba commented on #334
Thanks @brucellino @fmarco76
If I can add from what I have already reported especially to what Marco asked, we can access/login at http://discourse.sci-gaia.eu/ or http://sgw.africa-grid.org/ using our TERNET IDP. It responded with an "opensaml::FatalProfileException" with this details at the bottom: Message was signed, but signature could not be verified.
Too bad even login direct at https://idp.

[2016-08-08 06:08] brucellino commented on #334
@dmakweba ok, if your manual connection check works then you should check if you are using the right configuration in the attributes resolver config file. The two errors seem like they point to two different things:

[code]
This points to a  misconfigured certificate or keychain

The invalid username or password points to an invalid attribute resolver configuration.

I would like to keep the issue

[2016-08-15 07:30] brucellino commented on #334
hi @dmakweba - we are still waiting for a reply o this. Can you tell us if the certificate problem has been resolved and if you opened a new ticket for the ldap problem ?

[2016-08-16 07:14] dmakweba commented on #334
Hi @brucellino - my apology for not responding your message. We still have a problem with our IDP as described earlier, we cant login straight at https://idp.ternet.or.tz or even to services like sci-gaia forum.
I will open another ticket for LDAP.

[2016-08-16 07:42] dmakweba opened #335 "TERNET LDAP Certificate"
I am guessing to have problem with certificate in our ldap server because the error we are getting when trying to login through our IDP is related to certificate.

How would you best describe your issue  ?

  - [ ] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [x] General question, enhancement or s

[2016-08-29 10:31] brucellino commented on #334
hi @dmakweba - @fmarco76 and I have just checked the idp from the inside. the LDAP connection is working ok. The attribute resolver (ie, communication between the idp and the sp) is working ok. We are checking the login.conf.

[2016-08-29 10:51] brucellino commented on #334
@dmakweba  we are now back to the metadata issue we saw here https://github.com/AAROC/DevOps/issues/334#issuecomment-238149276.  @fmarco76 is taking a look at the metadata exchange to see what the issue could be.

[2016-08-29 11:17] brucellino commented on #334
ok, we have probably solved the issue. The problem was that you changed the host certificate, but didn't update the shibboleth configuration. This has been done.

[2016-08-29 11:18] brucellino commented on #334
We're waiting for the metadata to updated in the federation. Then, we will test and close.

[2016-08-29 11:39] dmakweba commented on #334
Thanks team.
I am Stil also concerning why we can't even login directly? Error: "Invalid username or password is wrong"
ciao

[2016-08-29 11:41] brucellino commented on #334
Yes, this we have been able to reproduce. This is something in the configuration of the IDPPublic application, and has nothing to do with shibboleth or the SP<->IDP problem. We will get to that as soon as we can ensure that the login to services using the idp is working.

[2016-08-29 12:07] brucellino commented on #334
Ok, I have checked that we can log in. the metadata issue has been solved, but the attribute filter is not returning the `eppn` of the user, so we get the famous :

[code]

however, since we still have problems with logging in directly to the idp, I won't close the ticket yet.

[2016-08-29 12:37] brucellino commented on #334
Ok, we have solved the problem. There were several misconfigurations in the web application and in apache configuration. Note: what we found was a "nonstandard" configuration, which is fine, but not supported. so, we have reverted the configuration back to the "standard" one which is implemented by the playbook.

# Summary

  1. The LDAP configuration was fine in the shibboleth idp configuration,

[2016-08-29 12:49] brucellino commented on #334
This issue was moved to http://discourse.sci-gaia.eu/t/ternet-idp-cant-login/2296

[2016-08-29 12:49] #334 closed

[2016-08-29 12:59] brucellino commented on #335
Hi @dmakweba - this is one for @fmarco76.

As far as I can remember, you need to:

  1. Client side  :
     1. Add the certificate authority which issued the certificate of the LDAP server to  the keystore of the idp machine.
     1. Ensure that the connection from idp to ldap is being made via ldaps on port 636.
  1. Server side :
    1. Configure the ldap server to use the host certificate and l

[2016-08-31 04:16] sureronald opened #336 "Error authenticating with idp.kenet.or.ke"
I am getting the error in the attached image when I try to join the conversation at http://discourse.sci-gaia.eu using the KENET idp in subject.
Now this is an old IDP that was setup during the mailing list collaborations. Just before I attach any logs I just wanted to know if it should be able to work in the current Federated environment.
![screenshot from 2016-08-22 12 16 11](https://cloud.githu

[2016-08-31 09:03] fmarco76 commented on #336
Hi,

the IdP should work properly. From the message the error could be:
- the server time is wrong
- the certificate configured in the idp is different from the one in the metadata.

Could you verify? If both are correct then we have to check the logs of the IdP and SP.

Cheers,
Marco

[2016-09-05 06:32] sureronald commented on #336
Thanks for the pointers. I will check and update

[2016-09-07 07:31] mngmuia commented on #336
I have checked the server time and it is okay.

See root@idp:/opt/shibboleth-idp/credentials# date
Wed Sep  7 10:27:04 EAT 2016

I have also inspected the server certificate and the certificate on the meta data at /opt/shibboleth-idp/metadata/idp-metadata.xml

Note that login to the Africa science gateway works! Is there specific config that needs to be added for the forum to work?

Regards,
Peter

[2016-09-07 09:31] brucellino commented on #336
Hi @mngmuia,

Thanks for the confirmation. If tbe login works with the sgw, then i suspect that it is the attribute scoping, right, @fmarco76?

Can you remind peter where this is set in the metadata?

[2016-09-07 10:13] muokid3 commented on #336
Hi @brucellino and @fmarco76  just to add, am getting the exact same error like @mngmuia

[2016-09-12 10:19] brucellino commented on #336
Thanks @muokid3
We've put this issue into "in progress". There may be an issue with stale metadata on the discourse server (ie, "our side"). We are trying to eliminate possibilities at the moment.

[2016-09-12 10:30] brucellino commented on #336
Ok, we have found the problem. It is a problem on the discourse shibboleth metadata side. There was an old certificate specified in the gridp-test metadata. The KENET IdP is both in the gridp-test and the gridp federations, however it's metadata was being found first in gridp-test. For this reason, we were not able to verify the certificate name, since the federation contained the old certificate

[2016-09-12 10:31] brucellino commented on #336
I have tested the fix, it solves this problem - but raises another -the famous "missing eppn" issue :

[code]

[2016-09-12 10:35] #336 closed

[2016-09-12 10:42] brucellino opened #337 "KENET IdP has wrong scoping of attributes"
#  Issue type

  - [x] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

Please suggest a tag to the issue from the list provided, if relevant.

# Repository information

  * Branch:  N/A
  * git hash:  N/A

# Issue description

Logging in to the [discou

[2016-09-12 10:45] brucellino commented on #337
Alerting @sureronald to the issue

[2016-09-12 10:46] brucellino commented on #337
alerting @mngmuia to the issue.

[2016-09-13 08:41] mngmuia commented on #337
I now get the following error

Your Identity Provider has authenticated your account but the SAML assertion does not include the attributes needed by Discourse to let you in. Please contact your Identity Provider administrator and ask to release the following attribute:
eduPersonPrincipalName (mandatory)
mail (mandatory)
sn (optional)
givenName (optional)

[2016-09-13 08:43] brucellino commented on #337
Yes, that is because you have the wrong scope in tbe metadata. See the original description

[2016-09-13 08:50] mngmuia commented on #337
@brucellino Ihave actually edited  idp-metadata.xml but the error seems to persist

[2016-09-13 09:25] brucellino commented on #337
@mngmuia indeed the issue persists :( Can you confirm what you have in your attribute-resolver and attribute-filter files ? (leave out sensitive info !)

[2016-09-13 09:53] fmarco76 commented on #337
Hi @brucellino and @mngmuia,

I have to update the metadata to get the new value. However, if I go to the metadata link:

https://idp.kenet.or.ke/idp/profile/Metadata/SAML
or
https://idp.kenet.or.ke/idp/shibboleth

the scope is still not updated. Could you give me the correct url to download the metadata?
If the one I wrote is correct then tomcat should restart.

Remember the scope has to match th

[2016-09-13 10:56] mngmuia commented on #337
I have restarted tomcat now

On Tue, Sep 13, 2016 at 12:53 PM, Marco Fargetta <notifications@github.com>
wrote:

--
Peter Maingi Muia

[2016-09-13 11:34] fmarco76 commented on #337
The new metadata has a different certificate from the one I had and it seems the one published does not
work. Could you update the metadata with the right certificate or use the certificate in the metadata with your idp? The used certificate is configured in the file `relying-party.xml` on the security section.
Let me know when you fix them

[2016-09-13 12:22] mngmuia commented on #337
Dear Marco,

I have put the right certificates. I had mixed them when I was inspecting
following the initial suggestion.

On Tue, Sep 13, 2016 at 2:34 PM, Marco Fargetta <notifications@github.com>
wrote:

--
Peter Maingi Muia

[2016-09-13 12:41] fmarco76 commented on #337
@mngmuia I have last question for the metadata. Before to update in federation could you add the contacts? Have a look at this as example:

https://idpopen.garr.it/metadata/idp-metadata.xml

[2016-09-13 13:01] mngmuia commented on #337
@marco I have updated the contacts with generic names (titles) if that is
okay. Kindly check and advice

On Tue, Sep 13, 2016 at 3:41 PM, Marco Fargetta <notifications@github.com>
wrote:

--
Peter Maingi Muia

[2016-09-13 13:11] fmarco76 commented on #337
I have updated the metadata. Have a try

[2016-09-13 13:13] brucellino commented on #337
I have tried the idp - it works :) closing this.

[2016-09-13 13:22] brucellino commented on #337
The solution :

Ensure that the scope of the attributes is the same as the scope in the metadata. The metadata is a string which can be selected, and should be chosen to be that of the entity which is identifying the user. `kenet.or.ke` in this case, instead of `or.ke`.

[2016-09-13 13:28] brucellino commented on #337
reopening so we can move it to discourse

[2016-09-13 13:28] mngmuia commented on #337
@brucellino @fmarco76 @sureronald  I have tested and it works. Thanks

[2016-09-13 13:30] brucellino commented on #337
This issue was moved to http://discourse.sci-gaia.eu/t/kenet-idp-has-wrong-scoping-of-attributes/2317

[2016-09-13 13:30] #337 closed

[2016-09-24 09:50] brucellino opened #338 "yaim in containers needs fqdn"
when running yaim inside containers, the checks fail, because there is a test to see whether the machine has a fqdn. The containers need to be given fdqn in _some_ cases, or this check needs to be skipped in other cases.

[2016-10-17 15:48] brucellino opened #339 "SAM-NAGIOS host isn't executing ansible tasks."
#  Issue type

How would you best describe your issue  ?

  - [ ] Problem with one of the services
  - [x] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

Please suggest a tag to the issue from the list provided, if relevant.

# Repository information

  * Branch: master
  * git hash: 2096212

[2016-10-19 03:46] brucellino opened #340 "voms cert password not set"
The voms server cert password is encrypted and the password is not set in the config.

[2016-10-19 03:51] brucellino commented on #340
The error from the voms process (java) is :

[code]

Seems like we need to add a "password finder"

[2016-10-19 04:32] brucellino commented on #340
It seems quite difficult to use the cert with the password - a password reader is required for CANL.. so I think the best workaround is to remove the password from the certificate. I've tested this and it works.

[2016-10-19 09:21] brucellino opened #341 "Puppet cvmfs submodule"
The puppet manifest for deploying and connfiguring CVMFS repos (stratum 0 and Stratum1) should be added as a git submodule to the DevOps Repo.

[2016-10-19 09:23] bazinski commented on #341
except i dont want to do submodules for reasons of r10k, but that is a bigger subject than this.

[2016-10-19 09:27] brucellino commented on #341
Are you using the DevOps repo to r10k ? I was under the impression that you weren't - but we still need to have eyes on the code that we're using to deploy services. I can see  that this is  not a trivial issue, so let's close it here and move the discussion to discourse.

[2016-10-19 09:29] brucellino commented on #341
This issue was moved to http://discourse.sci-gaia.eu/t/puppet-cvmfs-submodule/2354

[2016-10-19 09:29] #341 closed

[2016-11-28 12:29] sureronald opened #346 "EUGridPMA trust anchors updated to 1.79 causing ui.yml playbook to break"
EUGridPMA just updated the trust anchors from version 1.78 to 1.79 today. The following files are affected at least for the common role
[code]

[2016-11-28 12:38] #346 closed

[2016-11-28 12:40] sureronald commented on #346
Thanks for the super fast turnaround!

[2016-11-29 10:15] sureronald opened #347 "yaim site-info.def.j2 template generating incompletely configured site-info.def - UI playbook"
#  Issue type

Ansible UI (ui.yml) yaim role (siteinfo.yml task) generating an incomplete config file for yaim. Discussion with manual workaround as the solution here http://discourse.sci-gaia.eu/t/using-aaroc-devops-for-grid-user-interface/2402/11?u=osureronald_dca3
Branch: master

[2017-01-17 15:09] brucellino opened #351 "Site-bdii vulnerabilities addressed"
#  Issue type
# Issue type

  - [x] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

# Repository information

  * Branch: master
  * git hash: 12a554e

# Issue description

This is the master ticket related to vulnerabilities identified on the machine

[2017-01-17 15:12] brucellino opened #352 "security vulnerabilities for WMS"
#  Issue type

  - [x] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

# Repository information

  * Branch: master
  * git hash: 12a554e

# Issue description

This is the master ticket to deal with vulnerability issues on the machine wms.c4.csir.co.za

[2017-01-17 15:16] brucellino opened #353 "vulnerabilities on the APEL server"
#  Issue type

  - [x] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

# Repository information

  * Branch: master
  * git hash: 12a554e

# Issue description

This is the master ticket related to the vulnerability issues on apel.c4.csir.co.za

[2017-01-17 15:26] brucellino opened #354 "vulnerability scans for ARGUS"
#  Issue type

  - [x] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

# Repository information

  * Branch: master
  * git hash: 12a554e

# Issue description

Master ticket for vulnerabilities on argus.c4.csir.co.za

[2017-02-24 13:31] mekuanent opened #356 "Child group is not defined"
Configuration Issue

ERROR: child group is not defined: (idp.ethernet.edu.et)

Here is bash code
ansible-playbook -i inventories/inventory.ethernet.edu.et idp-ldap.yml shibv3idp-ldap.yml

[2017-02-24 13:35] brucellino commented on #356
Hi @mekuanent thanks for reporting the issue. I'm going to try and reproduce it.

[2017-02-24 13:38] #356 closed

[2017-02-24 13:40] brucellino commented on #356
Sorry, I missed  this error in the code-review (and we don't test for this... so I'm thinking of updating the travis tests).
There was a problem with your inventory. You included single hosts in a `:children` definition - however, the children need to be defined as groups. I've included the site group instead of the individual hosts.

[2017-02-24 13:58] mekuanent commented on #356
Another Issue Bruce
ERROR: become is not a legal parameter in an Ansible task or handler

[2017-02-24 13:59] brucellino commented on #356
hi @mekuanent - please open a new issue with this error. See [`CONTRIBUTING.md`](https://github.com/AAROC/DevOps/blob/master/CONTRIBUTING.md#reporting-issues) for more info :smiley:

[2017-02-24 14:05] mekuanent opened #357 "become is not a legal parameter"
ERROR: become is not a legal parameter in an Ansible task or handler

[2017-02-24 14:09] brucellino commented on #357
hi @mekuanent - could you please provide  the full output of the playbook ? I can't tell which task is failing.

[2017-02-24 14:17] eyu-se commented on #357
hi @brucellino  that is the only out put
the variable become is mentioned in both idp-ldap.yml and shibv3idp-ldap.yml

[2017-02-24 14:26] brucellino commented on #357
Yes, become is the [privilege escalation](http://docs.ansible.com/ansible/become.html) means in Ansible (_ie_ it's how you tell Ansible to escalate privilege) - so, not a variable, but a parameter of a task.

I can't reproduce this error in the `master` branch - syntax check shows no problems.
[code]

Can you tell me which version of Ansible you're using ?
[code]
Also, check that you are up to dat

[2017-02-24 14:29] eyu-se commented on #357
version is ansible 1.7.2

[2017-02-24 14:31] brucellino commented on #357
Ah - that's not going to work :cry: You need 2.x. Could you get the latest release from pip, as described [in the docs](http://docs.ansible.com/ansible/intro_installation.html#latest-releases-via-pip) ?

[2017-02-24 14:31] #357 closed

[2017-02-24 14:51] mekuanent opened #358 "ldap server issue"
Can we use the same server as ldap and idp because it is throwing this error

fatal: [ldap.ethernet.edu.et]: UNREACHABLE! => {"changed": false, "msg": "Failed to connect to the host via ssh: ssh: Could not resolve hostname ldap.ethernet.edu.et: Name or service not known\r\n", "unreachable": true}

If so what do we name it?

[2017-02-24 15:12] brucellino commented on #358
OK, I can confirm this. Ansible works [over ssh](http://docs.ansible.com/ansible/intro_getting_started.html#remote-connection-information) so you need to ensure that the connection parameters (username/password/public key/port) are correct.

Usually, we suggest that you use shared public keys, instead of passwords.

Can you confirm that you can access the machine over ssh at all ?

[2017-03-09 09:37] okoliec opened #359 "Shibboleth version"
#  Issue type

How would you best describe your issue
Morning Bruce,
How are you? I guess you are fine.

I am trying to get some Universities to install their IdP using the ansible. There was something about the shibboleth version. Is it updated now

I hope i can use the script for my installation.

Thank you

Cletus
  - [ ] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet p

[2017-03-09 09:54] fmarco76 commented on #359
The role https://github.com/osct/shibboleth-idp-v3/tree/41b8be20cc3463d21ea6f9cd81357641b3c407ae uses shibboleth v3 and it generate a working IdP. However, I am not sure the linked role is update to the latest version.

Additionally, I have not tested with last shibboleth release so you have to update the role (just some links, it is a minor version so the configuration should stay as it is).

[2017-03-09 10:14] okoliec commented on #359
OK thanks @fmarco... I will test and update the forum

[2017-03-13 06:55] okoliec opened #360 "Permission denied error on remote machine."
I was trying to install my idp-ldap. I have created an ansible user on the remote machine with sudo access. I have also copied keys from the control system to the remote machine.
Please how will i fix the error.

TASK [bootstrap : Do raw replace of nameserver] ********************************
task path: /home/ansible/DevOps/Ansible/roles/bootstrap/tasks/prerequisites.yml:22
fatal: [ldap.unilag.edu

[2017-03-13 07:09] brucellino commented on #360
Hi @okoliec  This is a network error :
` "Shared connection to ldap.unilag.edu.ng closed"`

The bootstrap role uses the remote root user to bring the machine to a known state. If you want to ensure that user keys are present, then add them to the `files/public_keys` in the bootstrap role. These are used by the role to assemble the authorized_keys.

See https://github.com/AAROC/DevOps/blob/master/A

[2017-03-13 07:09] #360 closed

[2017-03-13 07:19] okoliec commented on #360
Hello @brucellino

I added the keys to the files/public_keys. I was wondering if i was doing something wrong. I will check it again.
Thanks for your prompt response

[2017-03-13 07:19] okoliec opened #361 "Clarification on ansible user"
Please I need some clarification on the ansible install from the remote to the control.

My understanding of the installation process is that i will have a user ansible on both machines and then add the ansible user on the remote machine to the sudoers file and then copied ssh-key from the control machine to the remote so that the user is not prompted for password.

The issue is that each time i t

[2017-03-13 09:17] brucellino commented on #361
Hi @okoliec - could you please ask this on [the forum](https://discourse.sci-gaia.eu). If you have trouble logging in, we can carry on here.

[2017-03-13 09:17] #361 closed

[2017-06-22 13:36] brucellino opened #362 "Update the License to explicitly accept contributions"
#  Issue type

How would you best describe your issue  ?

  - [ ] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [x] General question, enhancement or suggestion

The current license is MIT. I propose that we move to Apache-2 and update the Contributors.md to explicitly take into account issues regar

[2017-07-11 18:11] brucellino opened #363 "Use the new UMD role"
#  Issue type

How would you best describe your issue  ?

  - [ ] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [x] General question, enhancement or suggestion

# Issue description

In preparation for release v0.0.7, we need to update all of the playbooks to use the new UMD role.

[2017-07-11 18:11] #351 closed

[2017-07-11 18:11] #352 closed

[2017-07-11 18:11] #353 closed

[2017-07-11 18:11] #354 closed

[2017-07-12 08:55] brucellino commented on #340
Fixed in acf33496

[2017-07-12 08:55] #340 closed

[2017-07-12 08:57] brucellino commented on #259
hi all.
I'm going through old tickets. this one seems obsolete, since there is a new idopen release out. @okokiec you can open another ticket with the new information if this is still a problem.

[2017-07-12 08:57] #259 closed

[2017-07-12 08:57] brucellino commented on #287
The C4 site  is decommissioned.

[2017-07-12 08:57] #287 closed

[2017-08-04 13:34] brucellino opened #365 "test CODE-RADE for openstack across multiple OS's"
#  Issue type

  - [ ] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [x] General question, enhancement or suggestion

# Repository information

  * Branch: master
  * git hash: bdd2bd1c

# Issue description

We currently create one VM for testing the `code-rade-client-openstack.yml` playbook. We sh

[2017-09-11 13:43] brucellino opened #366 "Deployment strategy"
- [ ] get hardware (you)
- [ ] power up control node (you)
- [ ] plug in networking for control ports - ipmi or whatever (you)
- [ ] Deploy openstack on control nodes (me+you)

[2017-09-22 13:52] brucellino commented on #366
Deployment of the openstack control nodes is now under way

[2017-10-11 12:44] brucellino opened #369 "private submodules are breaking the build."
#  Issue type

How would you best describe your issue  ?

  - [ ] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [x] General question, enhancement or suggestion

# Repository information

  * Branch: `master`
  * git hash:  `23744e330`

# Issue description

Travis testing is failing because there ar

[2017-10-11 13:33] brucellino commented on #369
Fixed by #370

[2017-10-11 13:33] #369 closed

[2017-10-11 15:02] brucellino opened #371 "YAMLlint failures in Travis testing"
#  Issue type

Travis tests the syntax of the various playbooks that we maintain. Some of these are are not passing a syntax check

How would you best describe your issue  ?

  - [x] Problem with one of the services
  - [ ] Ansible problem
  - [ ] Puppet problem
  - [ ] Container problem
  - [ ] Want to join as collaborator
  - [ ] General question, enhancement or suggestion

# Repository informat

[2017-10-12 06:48] brucellino opened #373 "Compute nodes powered up"
I need a list of compute nodes that will be managed by the controller.

[2017-10-12 10:14] brucellino opened #374 "network containers"

[2017-10-12 14:28] brucellino commented on #371
Closed in bdd7479

[2017-10-12 14:28] #371 closed

[2017-10-12 14:29] brucellino commented on #204
Closing this as obsolete

[2017-10-12 14:29] #204 closed

[2017-10-17 11:23] brucellino opened #379 "undercloud deployment"
following https://docs.openstack.org/tripleo-docs/

[2017-10-17 12:15] brucellino opened #380 "WN IP list"
Send a Pull Request to the repo with the list of worker nodes in the cluster.

This should patch the ZA-UJ inventory in `Ansible/inventories/inventory.za-uj`, with a new group, including the list of WN.

e.g. :

[code]

[2017-11-22 13:39] brucellino opened #381 "ZeroMQ dependency error on Undercloud install"
#  Issue type

OS package dependency error

# Repository information

  * Branch: master
  * git hash: a7a636db158

# Issue description

Running `openstack undercloud install` on the ZA-UJ undercloud failed with a yum dependency error

# Logs and other information

[code]

[2017-11-22 13:40] brucellino commented on #381
There were `delorean` and `rdo` yum repos - I removed the delorean ones, let's see what happens.

[2017-11-22 17:29] brucellino commented on #381
Fixed by :

  1. removing delorean repos
  1. cleaning yum
  1. update and upgrading everything
  1. add pike repos
  1. re-run `openstack undercloud install`

[2017-11-22 17:29] #381 closed

[2018-02-07 09:17] brucellino opened #382 "build-machines #5 failed"
Build 'build-machines' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
No changes

[View full output](https://ci.sagrid.ac.za/job/build-machines/5/)

[2018-08-18 14:16] brucellino commented on #382
job is obsolete.

[2018-08-18 14:16] #382 closed

[2020-08-19 18:13] cantebigene opened #390 "Potential vulnerabilities in Puppet files: Suspicious Comment"
3 suspicious comments were found in 3 different scripts.

Script 1: https://github.com/AAROC/DevOps/blob/ae5e2edd9248c108fe4f89fe5527010b84956f08/Puppet/ZA-UJ/modules/crond/manifests/script.pp
 - Line [7](https://github.com/AAROC/DevOps/blob/ae5e2edd9248c108fe4f89fe5527010b84956f08/Puppet/ZA-UJ/modules/crond/manifests/script.pp#L7): `#(at your option) any later version.`

Script 2: https://github.

[2020-08-19 18:13] cantebigene opened #391 "Potential vulnerabilities in Puppet files: Hard-coded Secret"
5 hard-coded secrets were found in 2 different scripts.

Script 1: https://github.com/AAROC/DevOps/blob/ae5e2edd9248c108fe4f89fe5527010b84956f08/Puppet/ZA-UJ/modules/apel/manifests/params.pp
 - Line [10](https://github.com/AAROC/DevOps/blob/ae5e2edd9248c108fe4f89fe5527010b84956f08/Puppet/ZA-UJ/modules/apel/manifests/params.pp#L10): `db_username=???`
 - Line [11](https://github.com/AAROC/DevOps/blo